/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
z-button,
.z-button,
z-button * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

z-button,
.z-button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background: transparent;
  background-image: none;
  font-weight: 400;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset;
  margin: 0em 0.25em 0em 0em;
  padding: 0 16px;
  height: 34px;
  text-transform: none;
  text-shadow: none;
  line-height: 1;
  font-style: normal;
  text-align: center;
  font-size: 1rem;
  text-decoration: none;
  background-image: none;
  border-radius: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: transparent;
}

z-button:hover,
.z-button:hover {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}

z-button:focus,
.z-button:focus {
  outline: none;
}

/*******************************
     Fluid
*******************************/
z-button[data-style='fluid'],
.z-button[data-style='fluid']{
  display: block;
  width: 100%
}

/*******************************
     Disabled
*******************************/
z-button[data-state='disabled'],
.z-button[data-state='disabled'] {
  cursor: default;
  background-color: #dcddde;
  color: rgba(0, 0, 0, 0.4);
  opacity: 0.3 ;
  background-image: none;
  box-shadow: none;
  pointer-events: none;
}

/*******************************
     Active
*******************************/
z-button[data-state='active'],
.z-button[data-state='active'] {
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}

/*--------------
     Toggle
---------------*/


/* Toggle (Modifies active state to give affordances) */
z-button[data-toggle][data-state='active'],
.z-button[data-toggle][data-state='active'] {
  background-color: #3b83c0;
  box-shadow: none;
  text-shadow: none;
  color: #ffffff;
}
z-button[data-toggle][data-state='active']:hover,
.z-button[data-toggle][data-state='active']:hover {
  background-color:  #458ac6;
  text-shadow: none;
  color: #ffffff;
}

/*******************************
     Button Groups
*******************************/
z-button-group {
  display: inline-block;
  vertical-align: middle;
  margin: 0em 0.25em 0em 0em;
  border: 1px solid rgba(39, 41, 43, 0.15);
  border-radius: 0.2857rem;
}

z-button-group z-button:first-child {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: 0.2857rem;
  border-bottom-left-radius: 0.2857rem;
}

z-button-group z-button:last-child {
  border-top-right-radius: 0.2857rem;
  border-bottom-right-radius: 0.2857rem;

}

z-button-group z-button {
  margin: 0em;
  float: left;
  border-radius: 0em;
  margin: 0px 0px 0px 0px;
  box-shadow: none;
  border-left: 1px solid rgba(39, 41, 43, 0.15);
}

z-button-group[data-split-evenly] {
  width: 100%;
}

/*-------------------
        Sizes
--------------------*/

.z-button-group .z-button[data-size='mini'],
.z-button[data-size='mini'],
z-button-group z-button[data-size='mini'],
z-button[data-size='mini'] {
  font-size: 0.71428571rem;
}

.z-button-group .z-button[data-size='tiny'],
.z-button[data-size='tiny'],
z-button-group z-button[data-size='tiny'],
z-button[data-size='tiny'] {
  font-size: 0.85714286rem;
}

.z-button-group .z-button[data-size='small'],
.z-button[data-size='small'],
z-button-group z-button[data-size='small'],
z-button[data-size='small'] {
  font-size:  0.92857143rem;
}

.z-button-group .z-button,
.z-button,
z-button-group z-button,
z-button {
  font-size: 1rem;
}

.z-button-group .z-button[data-size='large'],
.z-button[data-size='large'],
z-button-group z-button[data-size='large'],
z-button[data-size='large'] {
  font-size: 1.14285714rem;
}
.z-button-group .z-button[data-size='big'],
.z-button[data-size='big'],
z-button-group z-button[data-size='big'],
z-button[data-size='big']  {
  font-size: 1.28571429rem;
}

.z-button.primary {
  background: #3498db;
  color: #fff;
}

.z-button.primary:hover {
  background: #21aaed;
}

.z-button.primary:active {
  background: #0d4f6f;
  color: #fff;
}

.z-button.secondary {
  color: #3498db;
  font-weight: 500;
}

.z-button.secondary:hover {
  background: #f2f8fa;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.15) inset, 0px 0px 0px 0px rgba(39, 41, 43, 0.15) inset;
}

.z-button.secondary:active {
  background: #cee1e8;
  color: #333;
}

.z-button.tertiary {
  background: #27ae60;
  color: #fff;
}

.z-button.loading {
  opacity: 0.7;
}

.z-button.loading:hover {
  cursor: default;
}

.z-button.primary.loading:hover {
  background: #3498db;
}

.z-button.secondary.lading:hover {
  color: #888;
}
