#zbase_viewport .zbase_content_pane.main_menu {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 900px;
}

.zbase_content.main_menu {
  display: table-cell;
  vertical-align: top;
}

.zbase_main_menu {
  display: table-cell;
  width: 220px;
  vertical-align: top;
  background: #f9f9f9;
  border-right: 1px solid #ddd;
}

.zbase_main_menu z-menu {
  position: relative;
  margin-right: 10px;
  width: auto;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zbase_main_menu z-menu z-menu-section {
  padding: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}

.zbase_main_menu z-menu z-menu-title {
  margin: 0;
  line-height: 32px;
  padding: 0 20px 0 14px;
  font-size: 11px;
  color: #777;
  text-transform: uppercase;
  font-weight: 400;
}

.zbase_main_menu z-menu z-menu-item {
  margin: 0;
  padding: 0;
}

.zbase_main_menu z-menu z-menu-item a {
  line-height: 34px;
  padding: 0 20px 0 28px;
  font-size: 13px;
  color: #444;
}

.zbase_main_menu z-menu z-menu-item a[data-active] {
  background: #3498db;
  color: #fff;
}
