#zbase_viewport .zbase_content_pane.main_menu {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 900px;
  background: rgba(63,144,170,.08);
}

.zbase_content.main_menu {
  display: table-cell;
  vertical-align: top;
}

.zbase_main_menu {
  display: table-cell;
  width: 180px;
  vertical-align: top;
  background: #fff;
  border-right: 1px solid #ddd;
}

.zbase_main_menu z-menu {
  position: relative;
  margin-right: 10px;
  width: auto;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zbase_main_menu z-menu z-menu-section {
  padding: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}

.zbase_main_menu z-menu z-menu-title {
  margin: 0;
  line-height: 32px;
  padding: 0 20px 0 14px;
  font-size: 11px;
  color: #777;
  text-transform: uppercase;
  font-weight: 400;
}

.zbase_main_menu z-menu z-menu-item {
  margin: 0;
  padding: 0;
}

.zbase_main_menu z-menu z-menu-item a {
  line-height: 34px;
  padding: 0 20px 0 28px;
  font-size: 13px;
  color: #444;
  border-left: 4px solid transparent;
  position: relative;
  padding-left: 28px;
  margin-left: -10px;
}

.zbase_main_menu z-menu i.fa {
  font-size: 80%;
  margin-right: 7px;
  position: relative;
  top: -1px;
  margin-left: -6px;
  opacity: 0.8;
}

.zbase_main_menu z-menu z-menu-item a[data-active],
.zbase_main_menu z-menu z-menu-item a:hover {
  color: #3498db;
  border-left: 4px solid #3498db;
}

.zbase_main_menu z-menu z-menu-item a[data-active] {
  font-weight: 500;
}

.zbase_main_menu z-menu z-menu-item:hover {
  background: transparent;
}
