.evql_modal {
  display: none;
  background: rgba(45, 53, 59, 0.85);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
}

.evql_modal.active {
  display: block;
}

.evql_modal .modal_window {
  display: block;
  position: relative;
  width: 590px;
  height: 400px;
  top: 50%;
  margin: auto;
  margin-top: -250px;
  background: #fafafa;
  vertical-align: center;
  padding: 10px 50px 15px 50px;
  border-radius: 2px;
}

.evql_modal .modal_window .header {
  line-height: 54px;
  border-bottom: 1px solid #ddd;
}

.evql_modal .modal_window .body {
  padding-top: 25px;
}

.evql_modal .modal_window .footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: inherit;
}

