z-chart {
  display: inline-block;
}

z-chart.chart-axes {
  padding-top: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
}

z-chart svg {
  vertical-align: bottom;
}

z-chart path {
  stroke: rgba(0, 0, 0, 0.6);
  fill: none;
  stroke-width: 2px;
}

z-chart circle {
  stroke: rgba(0, 0, 0, 0.8);
  fill: rgba(0, 0, 0, 0.8);
  stroke-width: 1px;
}

z-chart rect {
  fill: none;
  stroke: none;
  pointer-events: all;
}

z-chart-tooltip {
  font-size: inherit;
  display: block;
  position: fixed;
  z-index: 900;
  text-align: center;
  padding: 5px 7px;
  color: #fff;
  background: #333;
  border-radius: 3px;
}

z-chart-tooltip.hidden {
  display: none;
}

