<template id="zbase_session_tracking_edit_event_tpl">
  <button class="z-button primary add_field">Add Field</button>
  <h3 class='zbase_settings_title'>Event <span></span></h3>

  <div class="table_container">
    <table class="z-table edit_event">
      <thead>
        <tr>
          <th>Attributes</th>
          <th style="width: 64px;"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <z-modal class="add_field">
    <z-modal-box>
      <z-modal-close-icon></z-modal-close-icon>
      <div class="container"></div>
    </z-modal-box>
  </z-modal>

  <z-modal class="delete_field">
    <z-modal-box>
      <z-modal-close-icon></z-modal-close-icon>
      <div class="z-modal-header">Delete Field</div>
      <div class="z-modal-content">
        <h4>
          Are you sure you wan to delete the field <span class="field_name"></span>
        </h4>
      </div>
      <div class="z-modal-footer">
        <button class="z-button secondary close">Cancel</button>
        <button class="z-button primary submit">Yes</button>
      </div>
    </z-modal-box>
  </z-modal>
</template>

<template id="zbase_session_tracking_edit_event_table_tpl">
  <tr class="table_attached">
    <td colspan="2" >
      <table class="z-table">
        <tbody></tbody>
      </table>
    </td>
  </tr>
</template>

<template id="zbase_session_tracking_edit_event_row_tpl">
  <tr>
    <td class="info">
      <span class="name"></span>
      <span class="type"></span>
    </td>
    <td class='icon'>
      <z-dropdown data-resolved data-hover>
        <z-dropdown-header>
          <z-dropdown-header-value data-static>
            <i class='fa fa-cog'></i>
          </z-dropdown-header-value>
          <z-dropdown-header-icon></z-dropdown-header-icon>
        </z-dropdown-header>

        <z-dropdown-flyout>
          <z-dropdown-items>
            <z-dropdown-item data-value="edit">Edit</z-dropdown-item>
            <z-dropdown-item data-value="add">Add</z-dropdown-item>
            <z-dropdown-item data-value="delete">Delete</z-dropown-item>
          </z-dropdown-items>
        </z-dropdown-flyout>
      </z-dropdown>
    </td>
  </tr>
</template>

<template id="zbase_session_tracking_add_event_modal_tpl">
  <z-modal-box>
      <z-modal-close-icon></z-modal-close-icon>
      <div class="z-modal-header">Add Field</div>

      <div class="z-modal-content">
        <div class="field">
          <label>Field:</label>
          <input class="z-input" type="text" />
          <div class="error_note hidden">Please add a field name</div>
        </div>

        <div class="field">
          <label>Type:</label>
          <z-dropdown data-resolved class="input">
            <z-dropdown-flyout>
              <z-dropdown-items>
                <z-dropdown-item data-value="OBJECT">OBJECT</z-dropdown-item>
                <z-dropdown-item data-value="BOOLEAN">BOOLEAN</z-dropdown-item>
                <z-dropdown-item data-value="UINT32">UINT32</z-dropdown-item>
                <z-dropdown-item data-value="STRING" data-selected>STRING</z-dropdown-item>
                <z-dropdown-item data-value="UINT64">UINT64</z-dropdown-item>
                <z-dropdown-item data-value="DOUBLE">DOUBLE</z-dropdown-item>
                <z-dropdown-item data-value="DATETIME">DATETIME</z-dropdown-item>
              </z-dropdown-items>
            </z-dropdown-flyout>
          </z-dropdown>
        </div>

        <div class="field">
          <z-checkbox></z-checkbox> <label>Repeated</label>
        </div>
      </div>

      <div class="z-modal-footer">
        <button class="z-button primary submit">Submit</button>
        <button class="z-button secondary close">Cancel</button>
      </div>
  </z-modal-box>
</template>
