<template id="zbase_session_tracking_journey_detail_tpl">
  <div class="journey_detail">
    <zbase-breadcrumbs style="margin-top: 20px; margin-bottom: -6px;">
      <zbase-breadcrumbs-section>
        <a href="/a/">Apps</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/">User Journeys</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/logviewer">Journey Viewer</a>
      </zbase-breadcrumbs-section>
    </zbase-breadcrumbs>
    <button class="z-button secondary back" style="float: right; margin-top: 20px;"><i class="fa fa-arrow-left"></i> Back</button>

    <h2 class="pagetitle">User Journey - <em class="session_id"></em></h2>
    <div class="journey_detail_pane">
      <div class="session_json">
      </div>
    </div>
  </div>
</template>
