<template id="zbase_session_tracking_journey_detail_tpl">
  <div class="journey_detail">
    <section class="zbase_page_title large">
      <div>
        <h2 class="pagetitle">Tracking</h2>
        <z-tabbable>
          <z-tab class="link">
            <a href="/a/session_tracking">Dashboard</a>
          </z-tab>
          <z-tab class="link" data-active>
            <a href="/a/session_tracking/journey_viewer">Journey Viewer</a>
          </z-tab>
          <z-tab class="link">
            <a href="/a/session_tracking/settings/schema">Schema</a>
          </z-tab>
          <z-tab class="link">
            <a href="/a/session_tracking/settings/tracking_pixel">Tracking Pixel</a>
          </z-tab>
        </z-tabbable>
      </div>
    </section>

    <div class="journey_detail_pane">
      <button class="z-button secondary back"><i class="fa fa-arrow-left"></i> Back</button>
      <h2 class="pagetitle">User Journey - <em class="session_id"></em></h2>

      <div class="session_json"></div>
    </div>
  </div>
</template>
