<template id="zbase_session_tracking_journey_detail_tpl">
  <div class="journey_detail">
    <zbase-breadcrumbs style="margin-top: 20px; margin-bottom: -6px;">
      <zbase-breadcrumbs-section>
        <a href="/a/">Apps</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/">User Journeys</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/logviewer">Journey Viewer</a>
      </zbase-breadcrumbs-section>
    </zbase-breadcrumbs>
    <button class="z-button secondary back" style="float: right; margin-top: 20px;"><i class="fa fa-arrow-left"></i> Back</button>

    <h2 class="pagetitle">User Journey - <em class="session_id"></em></h2>
    <div class="journey_detail_pane">
      <div class="time"></div>
      <div class="attributes"></div>
      <div class="events"></div>
    </div>
  </div>
</template>

<template id="zbase_session_tracking_journey_detail_event_tpl">
  <h3></h3>

  <label></label>
  <z-dropdown data-multiselect>
    <z-dropdown-flyout>
      <z-dropdown-items></z-dropdown-items>
    </z-dropdown-flyout>
  <z-dropdown>
</template>


