<template id="zbase_session_tracking_schemas_tpl">
  <div class='zbase_settings'>
    <h3 class='zbase_settings_title'>Session Tracking Schema</h3>

    <table class='z-table schemas'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="add_session_event">
      <a class="link">
        <i class="fa fa-plus"></i> Add Session Event
      </a>
    </div>

  </div>
</template>

<template id="zbase_session_tracking_schema_row_tpl">
  <tr class="event">
    <td class="name">
    </td>
    <td class="type">
    </td>
    <td class='icon'>
      <a data-action='edit'><i class='fa fa-cog'></i></a>
    </td>
  </tr>
</template>
