.zbase_session_tracking_schema .schema_pane {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.zbase_session_tracking_schema .schema_pane table {
  border-top: none;
}

.zbase_session_tracking table.z-table.schemas tbody tr.event:hover td {
  cursor: pointer;
  background: #f2f8fa;
}

.zbase_session_tracking table.z-table.schemas tbody tr td {
  line-height: 24px;
}

.zbase_session_tracking table.z-table.schemas tbody tr td.name {
  color: #000;
}

.zbase_session_tracking table.z-table.schemas tbody tr td.type {
  color: #888;
  text-transform: uppercase;
}

