<template id="zbase_session_tracking_menu_tpl">
  <z-menu>
    <z-menu-section data-href="/a/session_tracking">
      <z-menu-title>User Journeys</z-menu-title>
      <z-menu-item><a href="/a/session_tracking">Dashboard</a></z-menu-item>
      <z-menu-item><a href="/a/session_tracking/journey_viewer">Journey Viewer</a></z-menu-item>
    </z-menu-section>

    <z-menu-section data-href="/a/session_tracking/settings/">
      <z-menu-title>Settings</z-menu-title>
      <z-menu-item><a href="/a/session_tracking/settings/schema">Schema</a></z-menu-item>
      <!--<z-menu-item><a href="/a/session_tracking/settings/webhooks">Webhooks</a></z-menu-item>-->
      <z-menu-item><a href="/a/session_tracking/settings/tracking_pixel">Tracking</a></z-menu-item>
    </z-menu-section>
  </z-menu>
</template>
