.zbase_session_tracking.zbase_content_pane {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.zbase_session_tracking .session_tracking_sidebar {
  display: table-cell;
  width: 220px;
  vertical-align: top;
  background: #fff;
}

.zbase_session_tracking .session_tracking_content {
  display: table-cell;
  vertical-align: top;
  border-left: 1px solid #ddd;
}

.zbase_session_tracking .session_tracking_sidebar z-menu {
  position: relative;
  margin-right: 10px;
  width: auto;
}

.zbase_session_tracking .session_tracking_sidebar z-menu-section {
  padding: 0;
  margin-left: 10px;
  margin-bottom: 20px;
}

.zbase_session_tracking .session_tracking_sidebar z-menu-title {
  margin: 0;
  line-height: 32px;
  padding: 0 20px 0 14px;
  font-size: 12px;
  color: #000;
}

.zbase_session_tracking .session_tracking_sidebar z-menu-item {
  margin: 0;
  padding: 0;
}

.zbase_session_tracking .session_tracking_sidebar z-menu-item a {
  line-height: 32px;
  padding: 0 20px 0 28px;
  font-size: 12px;
  color: #737373;
}

.zbase_session_tracking .session_tracking_sidebar z-menu-item a[data-active] {
  background: #3498db;
  color: #fff;
}

.zbase_session_tracking z-tabbable {
  font-size: 14px;
}

.zbase_session_tracking .zbase_settings_title {
  font-weight: 500;
  font-size: 18px;
  color: #444;
  margin: 25px 0 5px 10px;
}

.zbase_session_tracking .add_session_event,
.zbase_session_tracking .add_session_attribute {
  border-bottom: 2px solid #ddd;
  border-top: 1px solid #d4d4d4;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03)
}

.zbase_session_tracking .add_session_attribute.hidden {
  display: none;
}

.zbase_session_tracking table {
  margin-top: 22px;
  border-top: 1px solid #eee;
  font-size: 13px;
}

.zbase_session_tracking table tr {
  background: #fff;
}

.zbase_session_tracking table thead tr th {
  color: #888;
  font-weight: 400;
}

.zbase_session_tracking table thead tr th:first-child {
  width: 50%;
}

.zbase_session_tracking table td.icon {
  width: 64px;
  text-align: center;
}

.zbase_session_tracking table td.icon i {
  font-size: 14px;
  color: #999;
  padding: 10px;
}

.zbase_session_tracking table td.icon i:hover {
  cursor: pointer;
  color: #3498db;
}

.zbase_session_tracking table.z-table.schemas tbody tr:hover {
  cursor: pointer;
}

.zbase_session_tracking table.z-table.schemas tbody tr td {
  line-height: 24px;
}

.zbase_session_tracking table.z-table.schemas tbody tr td.name {
  color: #000;
}

.zbase_session_tracking table.z-table.schemas tbody tr td.type {
  color: #888;
  text-transform: uppercase;
}

/*.zbase_session_tracking table.schemas .name a {
  background-color: #f2f8fa;
  border-bottom: 1px solid #c9d0d4;
  position: absolute;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(10,10,10,0.8);
  line-height: 18px;
}*/

.zbase_session_tracking .table_container {
  margin: 20px;
}

.zbase_session_tracking table.edit_event {
  table-layout: fixed;
}

.zbase_session_tracking table.edit_event tr:hover {
  cursor: pointer;
}

.zbase_session_tracking table.edit_event tr td {
  line-height: 28px;
}

.zbase_session_tracking table.edit_event tr td .name {
  color: #000;
}

.zbase_session_tracking table.edit_event tr td .type {
  color: #888;
}

.zbase_session_tracking table.edit_event tr.table_attached {
  background: #f9f9f9;
}

.zbase_session_tracking table.edit_event tr.table_attached > td {
  padding: 0 0 0 80px;
}

.zbase_session_tracking table.edit_event table {
  margin: 0;
  border-top: none;
  border-bottom: none;
}

.zbase_session_tracking table.add_attribute {
  margin-top: 0px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 2px solid #ddd;
}

.zbase_session_tracking table.add_attribute.hidden {
  display: none;
}

.zbase_session_tracking table.add_attribute td {
  background: rgba(0,0,0,0.03);
  height: 60px;
}

.zbase_session_tracking table.add_attribute button,
.zbase_session_tracking table.add_attribute input {
  font-size: 13px;
}

.zbase_session_tracking table.add_attribute .error_note {
  font-size: 12px;
  color: #d95c5c;
  font-style: italic;
}

.zbase_session_tracking table.add_attribute .error_note.hidden {
  display: none;
}
