<template id="zbase_session_tracking_tracking_pixel_tpl">
  <div class='zbase_settings zbase_tracking_pixel'>
    <zbase-breadcrumbs style="margin-top: 20px; margin-bottom: -6px;">
      <zbase-breadcrumbs-section>
        <a href="/a/">Apps</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/session_tracking">User Journeys</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/session_tracking/settings/tracking_pixel">Tracking Pixel</a>
      </zbase-breadcrumbs-section>
    </zbase-breadcrumbs>

    <h2 class="pagetitle"><em>Tracking Pixel</em></h2>
    <div class="tracking_pixel_pane">
    </div>
  </div>
</template>

