<template id="zbase_settings_main_tpl">
  <div class="zbase_content_pane fullwidth main_menu zbase_settings" style="background: #f9f9f9;">

    <section class="zbase_page_title medium">
      <div>
        <h2 class="pagetitle">Settings</h2>
      </div>
    </section>

    <div class="zbase_settings_container">
      <h2 class="pagetitle" style="margin: 20px 38px 10px 38px; border-bottom: 1px solid #eee;">
        <i class="fa fa-cog" style="font-size: 96%; margin-right: 6px;"></i>
        <em>Settings</em>
      </h2>

      <div class="zbase_settings_section" style="padding: 20px">
        <h2 class="pagetitle">API Access</h2>
        <ul>
          <li><a href="/a/settings/api_tokens">Auth Tokens</a></li>
        </ul>
      </div>

      <div class="zbase_settings_section" style="padding: 20px">
        <h2 class="pagetitle">User Tracking</h2>
        <ul>
          <li><a href="/a/session_tracking">Status</a></li>
          <li><a href="/a/session_tracking/settings/tracking_pixel">Tracking Pixel</a></li>
        </ul>
      </div>

      <div class="zbase_settings_section" style="padding: 20px">
      </div>

      <br style="clear: both;" />

      <div class="zbase_settings_section" style="padding: 20px">
      </div>

      <div class="zbase_settings_section" style="padding: 20px">
      </div>

      <div class="zbase_settings_section" style="padding: 20px">
      </div>

    </div>
  </div>
</template>
