.zbase_settings {
  background: #fff;
}

.zbase_settings .zbase_settings_section {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  width: 280px;
  float: left;
}


.zbase_settings .zbase_settings_container {
  max-width: 980px;
  margin: 0 auto;
  background: #fff;
}

.zbase_settings .zbase_settings_container:before,
.zbase_settings .zbase_settings_container:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.zbase_settings .zbase_settings_container:after {
    clear: both;
}

.zbase_settings .zbase_settings_section h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  padding: 0;
  margin-bottom: -6px;
  padding-bottom: 6px;
  margin-bottom: 2px;
}

.zbase_settings .zbase_settings_section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.zbase_settings .zbase_settings_section ul li a {
  line-height: 32px;
  font-size: 14px;
  color: #3d8ad3;
}

.zbase_settings .zbase_settings_section ul li a:hover {
  text-decoration: underline;
}
