<template id="zbase_settings_main_tpl">
  <div class="zbase_content_pane fullwidth main_menu zbase_settings">

    <section class="zbase_page_title medium">
      <div>
        <h2 class="pagetitle">Settings</h2>
      </div>
    </section>

      <div class="zbase_settings_section" style="padding: 20px">
        <h2 class="pagetitle">Query Tools</h2>

      </div>


      <div class="zbase_settings_section" style="padding: 20px">
        <h2 class="pagetitle">Data Sources</h2>

      </div>

    </div>
</template>
