<template id="zbase_settings_api_token_main_tpl">
  <section class='zbase_page_title small'>
    <a href="/a/settings" class="back_btn"></a>
    <zbase-breadcrumbs>
      <zbase-breadcrumbs-section>
        <a href="/a/settings">Settings</a>
      </zbase-breadcrumbs-section>
      <zbase-breadcrumbs-section>
        <a href="/a/settings/api_tokens">Auth Tokens</a>
      </zbase-breadcrumbs-section>
    </zbase-breadcrumbs>
  </section>
  <div class="zbase_content_pane zbase_settings_api_token zbase_settings_menu_wrap">
    <div class="zbase_settings_menu_sidebar">
    </div>

    <div class="zbase_settings_menu_content">
      <h2 class="pagetitle"><em>API Auth Token</em></h2>
      <input class="z-input api_token" type="text" readonly />
    </div>
  </div>
</template>
