<template id="zbase_settings_api_token_main_tpl">
  <section class='zbase_page_title medium'>
    <div>
      <h2 class="pagetitle zbase_datastore_menu_pagetitle">Settings</h2>
    </div>
  </section>
  <div class="zbase_content_pane zbase_settings_api_token">
    <div class="zbase_settings_menu_sidebar">
    </div>

    <div class="zbase_settings_menu_content">
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/settings">Settings</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/settings">API Access</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
      <h2 class="pagetitle">API Token</h2>
      <input class="z-input api_token" type="text" readonly />
    </div>
  </div>
</template>
