<template id="zbase_appstore_main_tpl">
  <section class='zbase_page_title medium'>
    <div>
      <h2 class="pagetitle">Applications</h2>
    </div>
  </section>

  <div class="zbase_content_pane fullwidth">
    <div class="zbase_appstore">


      <div class="zbase_appstore_section">
        <h2 class="pagetitle">Data Exploration</h2>

        <a class="app_card" href="/a/reports">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Reports</div>
          <div class="app_subtitle">Reports</div>
        </a>

        <a class="app_card" href="/a/sql">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">SQL Editor</div>
          <div class="app_subtitle">SQL Editor</div>
        </a>

        <a class="app_card" href="/a/logviewer">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Logfiles</div>
          <div class="app_subtitle">Logfiles</div>
        </a>

        <a class="app_card" href="/a/datastore/tables">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Tables</div>
          <div class="app_subtitle">Tables</div>
        </a>

      </div>


      <div class="zbase_appstore_section">
        <h2 class="pagetitle">Data Import</h2>

        <a class="app_card" href="/a/session_tracking">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Session Tracking</div>
          <div class="app_subtitle">Sesssion Tracking</div>
        </a>

      </div>


    </div>
  </div>
</template>
