<template id="zbase_appstore_main_tpl">
  <section class='zbase_page_title small'>
    <div>
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/">Query</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/">Applications</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>
  </section>

  <div class="zbase_content_pane">
    <div class="zbase_home_menu_sidebar">
    </div>

    <div class="zbase_home_menu_content">
      <h2 class="pagetitle">Applications</h2>

      <div class="zbase_appstore">
        <div class="zbase_appstore_section">
          <h2 class="pagetitle">Data Exploration</h2>

          <a class="app_card" href="/a/sql">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">SQL Editor</div>
            <div class="app_subtitle">SQL Editor</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Chart Editor</div>
            <div class="app_subtitle">Chart Editor</div>
          </a>

          <a class="app_card" href="/a/logviewer">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Logfile Viewer</div>
            <div class="app_subtitle">Logfile Viewer</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Cohort Analysis</div>
            <div class="app_subtitle">Cohort Analysis</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Funnel Analysis</div>
            <div class="app_subtitle">Funnel Analysis</div>
          </a>

          <div style="clear: both;"></div>
        </div>

        <div class="zbase_appstore_section">
          <h2 class="pagetitle">eCommmerce</h2>

          <a class="app_card" href="/a/dashboards/ecommerce">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">eCommerce KPIs</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Catalog KPIs</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <a class="app_card" href="/a/dashboards/marketplace_seller">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Seller Dashboard</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Top Sellers</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <div style="clear: both;"></div>
        </div>

        <div class="zbase_appstore_section">
          <h2 class="pagetitle">Web Analytics</h2>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">User Online</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <div style="clear: both;"></div>
        </div>

        <div class="zbase_appstore_section">
          <h2 class="pagetitle">On-Site Search</h2>

          <a class="app_card" href="/a/dashboards/on_site_search" >
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Search KPIs</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <a class="app_card" href="/a/dashboards/on_site_search/top_search_terms">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Top Search Terms</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <a class="app_card" href="/a/dashboards/on_site_search/query_distribution">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Term Distribution</div>
            <div class="app_subtitle">App</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Related Terms</div>
            <div class="app_subtitle">Report</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Smart Autocomplete</div>
            <div class="app_subtitle">App</div>
          </a>

          <a class="app_card" href="/a/dashboards/on_site_search/ctr_by_page">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">CTR By Page</div>
            <div class="app_subtitle">Report</div>
          </a>

          <a class="app_card" href="/a/dashboards/on_site_search/ctr_by_position">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">CTR By Item Position</div>
            <div class="app_subtitle">Report</div>
          </a>

          <div style="clear: both;"></div>
        </div>




        <div class="zbase_appstore_section">
          <h2 class="pagetitle">DevOps</h2>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Linux Hosts</div>
            <div class="app_subtitle">Linux Hosts</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Docker</div>
            <div class="app_subtitle">Docker</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Exceptions</div>
            <div class="app_subtitle">Exceptions</div>
          </a>

          <a class="app_card" href="#" style="opacity:0.6;">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">App Performance</div>
            <div class="app_subtitle">App Performance</div>
          </a>

          <div style="clear: both;"></div>
        </div>

        <div class="zbase_appstore_section">
          <h2 class="pagetitle">Recommendation Engine</h2>

          <a class="app_card" href="/a/dashboards/recommendation_engine">
            <div class="hexagon">
              <div class="hexTop"></div>
              <div class="hexBottom"></div>
            </div>
            <div class="app_title">Reco Engine KPIs</div>
            <div class="app_subtitle">Dashboard</div>
          </a>

          <div style="clear: both;"></div>
        </div>

      </div>
    </div>
  </div>
</template>
