<template id="zbase_appstore_main_tpl">
  <div class="zbase_content_pane fullwidth main_menu zbase_appstore">
    <div class="zbase_main_menu"></div>

    <div class="zbase_content main_menu">

      <div class="zbase_content_title">
        <h2 class="pagetitle">Applications</h2>
      </div>

      <div class="zbase_appstore_section" style="padding: 20px">
        <h2 class="pagetitle">Query Tools</h2>

        <a class="app_card" href="/a/reports">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Reports</div>
          <div class="app_subtitle">Reports</div>
        </a>

        <a class="app_card" href="/a/sql">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">SQL Editor</div>
          <div class="app_subtitle">SQL Editor</div>
        </a>

      </div>


      <div class="zbase_appstore_section" style="padding: 20px">
        <h2 class="pagetitle">Data Sources</h2>

        <a class="app_card" href="/a/datastore/tables">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Tables</div>
          <div class="app_subtitle">Tables</div>
        </a>

        <a class="app_card" href="/a/session_tracking">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">User Journeys</div>
          <div class="app_subtitle">User Journeys</div>
        </a>

        <a class="app_card" href="/a/logs">
          <img src="/a/_/a/app.png"  />
          <div class="app_title">Logfiles</div>
          <div class="app_subtitle">Logfiles</div>
        </a>

      </div>

    </div>

  </div>
</template>
