.zbase_appstore {
  background: #fff;
  padding: 20px 20px;
}

.zbase_appstore .zbase_appstore_section {
  margin-right: 40px;
  margin-bottom: 40px;
}

.zbase_appstore .zbase_appstore_section:before,
.zbase_appstore .zbase_appstore_section:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.zbase_appstore .zbase_appstore_section:after {
    clear: both;
}


.zbase_appstore .app_card {
  width: 200px;
  height: 180px;
  overflow: hidden;
  display: block;
  text-align: center;
  float: left;
  border-radius: 4px;
}

.zbase_appstore .app_card:hover {
  background: #f6f6f6;
}

.zbase_appstore .app_card img {
  margin-top: 30px;
}

.zbase_appstore .app_card .app_title {
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding-top: 16px;
  color: #111;
  margin-bottom: -1px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.zbase_appstore .app_card .app_subtitle {
  color: #666;
  font-size: 12px;
}

.zbase_appstore .app_card:hover .hexagon {
  background-color: #f2f8fa;
}

.zbase_appstore .app_card:hover .app_title {
  color: #333;
}

.zbase_appstore_section h2 {
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  padding: 0;
  margin-bottom: -6px;
  padding-bottom: 6px;
  margin-bottom: 2px;
}
