/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */

.z-table table,
z-table table {
  width: 100%;
  background: #ffffff;
  /*margin: 1em 0em;*/
  margin-top: 0em;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  border-radius: 0.25rem;
  color: rgba(0, 0, 0, 0.8);
  border-collapse: separate;
  border-spacing: 0px;
}

z-table table {
  display: none;
}

z-table table[name='visible'] {
  display: table;
  width: 100%;
}

z-table-column {
  display: none;
}

.z-table[data-page],
z-table[data-page] table {
  margin-top: 0;
}

.z-table:first-child {
  margin-top: 0em;
}

.z-table:last-child {
  margin-bottom: 0em;
}

.z-table th,
.z-table td,
z-table th,
z-table td {


}

.z-table thead,
z-table thead {
  box-shadow: none;
}

.z-table thead th,
z-table thead th {
  cursor: auto;
  background: #f0f0f0;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: none;
  font-weight: bold;
  text-transform: none;
  border-bottom: 1px solid #d4d4d5;
  border-left: none;
  line-height: 1em;
}

z-table thead th.sortable:after {
  font-family: FontAwesome;
  line-height: 1;
  height: 1em;
  vertical-align:middle;
  font-weight: normal;
  padding-right: 0.5em;
  font-size: 1em;
  content: "\f175";
  float: right;
  opacity: 0.5;
}

z-table thead th.sortable.desc:after,
z-table thead th.sortable.numdsc:after {
  content: "\f175" !important;
}

z-table thead th.sortable.asc:after,
z-table thead th.sortable.numasc:after {
  content: "\f176" !important;
}

z-table thead th.sortable.active:after {
  opacity: 1;
}

z-table thead th.sortable:hover:after {
  cursor:pointer;
}

.z-table thead th:first-child,
z-table thead th:first-child {
  border-radius: 0.25rem 0em 0em 0em;
  border-left: none;
}

.z-table thead th:last-child,
z-table thead th:last-child {
  border-radius: 0em 0.25rem 0em 0em;
}

.z-table thead th:only-child,
z-table thead th:only-child {
  border-radius: 0.25rem 0.25rem 0em 0em;
}

.z-table tfoot,
z-table tfoot {
  box-shadow: none;
}

.z-table tfoot th,
z-table tfoot th {
  cursor: auto;
  border-top: 1px solid #d4d4d5;
  background: #ffffff;
  text-align: left;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.7em 0.8em;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
}


.z-table tfoot th:first-child,
z-table tfoot th:first-child {
  border-radius: 0em 0em 0em 0.25rem;
}

.z-table tfoot th:last-child,
z-table tfoot th:last-child {
  border-radius: 0em 0em 0.25rem 0em;
}

.z-table tfoot th:only-child,
z-table tfoot th:only-child {
  border-radius: 0em 0em 0.25rem 0.25rem;
}

.z-table tr td,
z-table tr td {
  border-top: 1px solid #d4d4d5;
}

.z-table tr:first-child td,
z-table tr:first-child td {
  border-top: none;
}

.z-table td,
z-table td {
  padding: 0.7em 0.8em;
  text-align: left;
  vertical-align: middle;
}

.z-table[data-clickable] tr:hover,
z-table[data-clickable] tr:hover {
  cursor: pointer;
}


.z-table tr.success,
.z-table td.success,
z-table tr.success,
z-table td.success {
  box-shadow: 0px 0px 0px #b7caa7 inset;
}

.z-table tr.success td,
.z-table td.success,
z-table tr.success td,
z-table td.success {
  background: #eeffe7 !important;
  color: #3c763d !important;
}

.z-table.colsep tr.success:hover td,
.z-table.colsep tr:hover td.success,
z-table table.colsep tr.success:hover td,
z-table table.colsep tr:hover td.success {
  background: #e3ffd8 !important;
  color: #376c38 !important;
}

.z-table tr.error,
.z-table td.error,
z-table tr.error,
z-table td.error {
  box-shadow: 0px 0px 0px #dbb1b1 inset;
}

.z-table tr.error td,
.z-table td.error,
z-table tr.error td,
z-table td.error {
  background: #fff0f0 !important;
  color: #cd2929 !important;
}

.z-table.colsep tr.error:hover td,
.z-table.colsep tr:hover td.error,
z-table table.colsep tr.error:hover td,
z-table table.colsep tr:hover td.error {
  background: #ffe1e1 !important;
  color: #c02626 !important;
}

.z-table tr.warning,
.z-table td.warning,
z-table tr.warning,
z-table td.warning {
  box-shadow: 0px 0px 0px #d9caab inset;
}

.z-table tr.warning td,
.z-table td.warning,
z-table tr.warning td,
z-table td.warning {
  background: #fffbe6 !important;
  color: #7d6c00 !important;
}

.z-table.colsep tr.warning:hover td,
.z-table.colsep tr:hover td.warning,
z-table table.colsep tr.warning:hover td,
z-table table.colsep tr:hover td.warning {
  background: #fff9d7 !important;
  color: #6e5f00 !important;
}

.z-table tr.active,
.z-table td.active,
z-table tr.active,
z-table td.active {
  box-shadow: 0px 0px 0px rgba(50, 50, 50, 0.9) inset;
}

.z-table tr.active td,
.z-table td.active,
z-table tr.active td,
z-table td.active {
  background: #e0e0e0 !important;
  color: rgba(50, 50, 50, 0.9) !important;
}

.z-table.colsep tr.active:hover td,
.z-table.colsep tr:hover td.active,
z-table table.colsep tr.active:hover td,
z-table table.colsep tr:hover td.active {
  background: #e0e0e0 !important;
  color: rgba(50, 50, 50, 0.9) !important;
}

.z-table tr.disabled td,
.z-table tr td.disabled,
.z-table tr.disabled:hover td,
.z-table tr:hover td.disabled,
z-table tr.disabled td,
z-table tr td.disabled,
z-table tr.disabled:hover td,
z-table tr:hover td.disabled {
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

.z-table.left,
.z-table .left,
z-table table.left,
z-table .left {
  text-align: left;
}

.z-table.center,
.z-table .center,
z-table table.center,
z-table .center {
  text-align: center;
}

.z-table.right,
.z-table .right,
z-table table.right,
z-table .right {
  text-align: right;
}

.z-table th.collapse,
.z-table td.collapse,
z-table th.collapse,
z-table td.collapse {
  width: 1px;
  white-space: nowrap;
}

.z-table.collapse,
z-table table.collapse {
  width: auto;
}

.z-table.striped > tr:nth-child(2n),
.z-table.striped tbody tr:nth-child(2n),
z-table table.striped > tr:nth-child(2n),
z-table table.striped tbody tr:nth-child(2n) {
  background-color: rgba(0, 0, 50, 0.03);
}

.z-table.colsep th,
.z-table.colsep td,
z-table table.colsep th,
z-table table.colsep td {
  border-left: 1px solid #d4d4d5;
}

.z-table.colsep th:first-child,
.z-table.colsep td:first-child,
z-table table.colsep th:first-child,
z-table table.colsep td:first-child {
  border-left: none;
}

/**
  * z-table
  */
table.z-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table.z-table.hidden {
  display: none;
}

table.z-table thead th {
  background: transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,.09);
  font-weight: 500;
  text-align: left;
  color: rgba(0,0,0,0.8);
  border-bottom: 1px solid #e1e1e1;
  vertical-align: middle;
  background: transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,.09);
  padding: .8em;
  line-height: 1em;
}


table.z-table tbody tr td {
  border-top: 1px solid #e1e1e1;
  padding: .7em .8em;
  text-align: left;
  vertical-align: middle;
  line-height: 1em;
}

table.z-table tbody tr:first-child td {
  border-top: none;
}

/**
  * zbase_clickable_table
  */
table.z-table.zbase_clickable_table tr:hover td {
  background: #f2f8fa;
  cursor: pointer;
}
