/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */
/*******************************
           Standard
*******************************/
/*--------------------
        Inputs
---------------------*/

z-input,
.z-input,
input.z-input {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}

z-input input,
.z-input input,
input.z-input {
  margin: 0em;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.2142em;
  padding: 0.67861em 1em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;


  box-shadow: none;
  font-size: 1em;
}

/*--------------------
      Placeholder
---------------------*/
/* browsers require these rules separate */
z-input input::-webkit-input-placeholder,
.z-input input::-webkit-input-placeholder,
input.z-input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3em;
}
z-input input::-moz-placeholder,
.z-input input::-moz-placeholder,
input.z-input::-moz-placeholder{
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3em;
}

/*******************************
            States
*******************************/
/*--------------------
        Active
---------------------*/

z-input input:active,
.z-input input:active,
input.z-input:active{
  border-color: rgba(0, 0, 0, 0.3);
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}

/*--------------------
        Focus
---------------------*/
z-input input:focus,
.z-input input:focus,
input.z-input:focus {
  border-color: rgba(39, 41, 43, 0.3);
  background: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
z-input input:focus input::-webkit-input-placeholder,
.z-input input:focus input::-webkit-input-placeholder,
input.z-input:focus input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.8);
}

z-input input:focus input::-moz-placeholder,
.z-input input:focus input::-moz-placeholder,
input.z-input:focus input::-moz-placeholder{
  color: rgba(0, 0, 0, 0.8);
}

/*--------------------
        Error
---------------------*/
z-input.error input,
.z-input.error input,
input.z-input.error {
  background-color: #fff0f0;
  border-color: #dbb1b1;
  color: #d95c5c;
  box-shadow: none;
}

/* Error Placeholder */
z-input.error input ::-webkit-input-placeholder,
.z-input.error input ::-webkit-input-placeholder,
input ::-webkit-input-placeholder.z-input.error {
  color: rgba(255, 80, 80, 0.4);
}

z-input.error input ::-moz-placeholder,
.z-input.error input ::-moz-placeholder,
input ::-moz-placeholder,z-input.error {
  color: rgba(255, 80, 80, 0.4);
}

/* Focused Error Placeholder */
z-input.error input:focus::-webkit-input-placeholder,
.z-input.error input:focus::-webkit-input-placeholder,
input.z-input.error:focus::-webkit-input-placeholder{
  color: rgba(255, 80, 80, 0.7);
}

z-input.error input :focus::-moz-placeholder,
.z-input.error input :focus::-moz-placeholder {
  color: rgba(255, 80, 80, 0.7);
}

/*******************************
           Variations
*******************************/
/*--------------------
      Transparent
---------------------*/
z-input.transparent input,
.z-input.transparent input,
input.z-input.transparent {
  border-color: transparent;
  background-color: transparent;
  padding: 0em;
}

/* Transparent Icon */
.ui.transparent.icon.input > i.icon {
  width: 1.25em;
}

.ui.transparent.icon.input > input {
  padding-left: 0em !important;
  padding-right: 2em !important;
}
.ui.transparent[class*="left icon"].input > input {
  padding-left: 0em !important;
  padding-left: 2em !important;
}

/*--------------------
         Icon
---------------------*/
z-input-icon,
.z-input-icon {
  cursor: default;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0px;
  margin: 0em;
  height: 100%;
  width: 2.82142em;
  opacity: 0.5;
  border-radius: 0em 0.2857rem 0.2857rem 0em;


}
z-input.icon input,
.z-input.icon input {
  padding-right: 2.82142em !important;
}

z-input-icon i:before,
z-input-icon i:after,
i.z-input-icon:before,
i.z-input-icon:after{
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
}

/* Left Icon Input */
z-input.icon.left > z-input-icon,
.z-input.icon.left > .z-input-icon {
  right: auto;
  left: 1px;
  border-radius: 0.2857rem 0em 0em 0.2857rem;
}
z-input.icon.left input,
.z-input.icon.left input {
  padding-left: 2.82142em !important;
  padding-right: 1em !important;
}

/* Focus */
z-input.icon.left input:focus ~ z-input-icon,
.z-input.icon.left input:focus ~ .z-input-icon{
  opacity: 1;
}


/*--------------------
      CSV Items
---------------------*/
z-input.csv z-input-value {
  display: inline-block;
  position: relative;
  margin-left: 0.45em;
  top: -2.15em;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius:0.2857rem;
  padding: 0 4px;
}

z-input.csv z-input-value i {
  margin-left: 2px;
  opacity: 0.7;
  cursor: pointer;
}
