<template id="seller_overview_main_tpl">
  <div class="zbase_seller_stats">

    <section class='zbase_page_title medium'>
      <div>
        <h2 class="pagetitle">Seller</h2>
      </div>
    </section>

    <div class="zbase_content_pane fullwidth" style="background: #fff;">
      <div class="zbase_seller_overview">
        <table class="z-table zbase_clickable_table">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>
