<template id="seller_overview_main_tpl">
  <div class="zbase_seller_stats overview">

    <section class='zbase_page_title medium'>
      <div>
        <h2 class="pagetitle">Seller</h2>

        <div class="controls">
          <div class="search">
            <label class="search_label">Seller</label>
            <z-search class="seller" style="margin-left: 50px;">
              <z-input class="icon" data-placeholder="Search For Seller by ID" style="position: relative; top: 1px; display: block;">
                <z-input-icon><i class='fa fa-search'></i></z-input-icon>
              </z-input>
            </z-search>
          </div>

          <div class="search">
            <label class="search_label">Category</label>
            <z-search class="category" style="margin-left: 70px;">
              <z-input class="icon" data-placeholder="Search For Category" style="position: relative; top: 1px; display: block;">
                <z-input-icon><i class='fa fa-search'></i></z-input-icon>
              </z-input>
            </z-search>
          </div>

          <div class="control">
            <z-checkbox class="premium"></z-checkbox>
            <label>Premium Seller <i class="fa fa-star"></i></label>
          </div>

        </div>
      </div>
    </section>

    <div class="zbase_content_pane fullwidth" style="background: #fff;">
      <div class="zbase_seller_overview">
        <table class="z-table zbase_clickable_table">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th style="width: 60px;"></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</template>
