.zbase_seller_stats .zbase_content_pane {
  background: #fff;
}

.zbase_seller_stats table.z-table {
  font-size: 13px;
}

.zbase_seller_stats table.z-table thead tr th:first-child,
.zbase_seller_stats table.z-table tbody tr td:first-child {
  padding-left: 20px;
}

.zbase_seller_stats table.z-table thead tr th {
  font-weight: 400;
  color: #888;
}

.zbase_seller_stats table.z-table tbody tr td {
  line-height: 24px;
}
