.zbase_seller_stats .zbase_page_title zbase-breadcrumbs {
  float: left;
}

.zbase_seller_stats .zbase_page_title z-daterangepicker {
  float: right;
  margin-top: 3px;
}

.zbase_seller_stats .zbase_content_pane {
  display: table;
  table-layout: fixed;
  width: 100%;
  min-height: 900px;
}

.zbase_seller_stats .zbase_stats_sidebar {
  display: table-cell;
  vertical-align: top;
  width: 320px;
  padding: 20px 20px 0;
  background: #fff;
  box-shadow: 0 0 2px rgba(0,0,0,0.4);
}

.zbase_seller_stats .zbase_stats_content {
  display: table-cell;
  vertical-align: top;
  width: auto;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.zbase_seller_stats button.z-button {
  font-size: 13px;
}

.zbase_seller_stats .metric_pane {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: 1px solid #ddd;
  margin: 20px;
  padding: 15px 20px;
  overflow: auto;
  width: 30%;
  float: left;
}

.zbase_seller_stats .metric_pane h2.pagetitle {
  font-size: 16px;
  float: left;
  line-height: 40px;
}

.zbase_seller_stats .metric_pane z-sparkline {
  display: block;
}

.zbase_seller_stats .metric_pane .num {
  font-size: 22px;
  line-height: 40px;
  float: right;
  margin-right: 20px;
}

.zbase_seller_stats .metric_pane .time_line {
  border-top: 1px solid #ddd;
}

.zbase_seller_stats .metric_pane .time_line .start,
.zbase_seller_stats .metric_pane .time_line .end {
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}

.zbase_seller_stats .metric_pane .time_line .start {
  float: left;
}

.zbase_seller_stats .metric_pane .time_line .end {
  float: right;
}
