.zbase_seller_stats .zbase_page_title zbase-breadcrumbs {
  float: left;
}

.zbase_seller_stats .zbase_page_title z-daterangepicker {
  float: right;
  margin-top: 3px;
}

.zbase_seller_stats button.z-button {
  font-size: 13px;
}

.zbase_seller_stats .metric_pane {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: 1px solid #ddd;
  padding: 15px 20px;
  overflow: auto;
  width: 23%;
  margin: 1%;
  float: left;
}

.zbase_seller_stats .metric_pane h2.pagetitle {
  font-size: 16px;
  float: left;
  line-height: 40px;
}

.zbase_seller_stats .metric_pane i.help {
  font-size: 13px;
  color: #888;
  margin-left: 3px
}

.zbase_seller_stats .metric_pane i.help:hover {
  cursor: pointer;
  color: #3498db;
}

.zbase_seller_stats .metric_pane z-sparkline {
  display: block;
}

.zbase_seller_stats .metric_pane .num {
  font-size: 22px;
  line-height: 40px;
  float: right;
  margin-right: 20px;
}

.zbase_seller_stats .metric_pane .time_line {
  border-top: 1px solid #ddd;
}

.zbase_seller_stats .metric_pane .time_line .start,
.zbase_seller_stats .metric_pane .time_line .end {
  font-size: 12px;
  color: #888;
  margin-top: 2px;
}

.zbase_seller_stats .metric_pane .time_line .start {
  float: left;
}

.zbase_seller_stats .metric_pane .time_line .end {
  float: right;
}
