<template id="per_seller_stats_main_tpl">
  <div class="zbase_seller_stats">
    <section class='zbase_page_title small' style="none">
      <div style="overflow: visible;">
        <zbase-breadcrumbs>
          <zbase-breadcrumbs-section>
            <a href="/a/seller">Shop Stats</a>
          </zbase-breadcrumbs-section>
        </zbase-breadcrumbs>
      </div>
    </section>

    <div class="zbase_content_pane fullwidth">
      <div class="zbase_stats_title">
        <h2 class="pagetitle">
          <zbase-breadcrumbs>
            <zbase-breadcrumbs-section>
              <a href="/a/seller">Shop Stats</a>
            </zbase-breadcrumbs-section>
            <zbase-breadcrumbs-section>
              <a href="/a/seller" class="shop_name_crumb">
                Shop <span class="shop_name"></span>
              </a>
            </zbase-breadcrumbs-section>
          </zbase-breadcrumbs>
        </h2>
        <z-daterangepicker class="open_left"></z-daterangepicker>
      </div>

      <z-tabbable>
        <z-tab data-active>Overview</z-tab>
        <z-tab>Per Product</z-tab>
      </z-tabbable>

      <div class="zbase_stats">
        <div class="controls">
          <button class="z-button view table" data-value="table"><i class="fa fa-table"></i></button>
          <button class="z-button view sparkline" data-value="sparkline"><i class="fa fa-line-chart"></i></button>
        </div>

        <div class="zbase_seller_overview"></div>
      </div>
    </div>

    <z-tooltip class="product_page_impressions" data-pointer="center">
      Aggregate number of product page impressions for all products from this seller in this time window
    </z-tooltip>
    <z-tooltip class="product_listview_impressions" data-pointer="center">
      Aggregate number of total listview impressions for all products from this seller in this time window
    </z-tooltip>
    <z-tooltip class="product_listview_clicks" data-pointer="center">
      Aggregate number of total listview clicks for all products from this seller in this time window
    </z-tooltip>
    <z-tooltip class="product_listview_ctr" data-pointer="center">
      Aggregate listview CTR for all products from this seller in this time window
    </z-tooltip>

    <z-tooltip class="product_buy_to_detail_rate" data-pointer="center">
      Aggregate listview CTR for all products from this seller in this time window
    </z-tooltip>
    <z-tooltip class="product_cart_to_detail_rate" data-pointer="center">
      Aggregate listview CTR for all products from this seller in this time window
    </z-tooltip>
    <z-tooltip class="unique_purchases" data-pointer="center">
      Aggregate listview CTR for all products from this seller in this time window
    </z-tooltip>
    <z-tooltip class="refunded_purchases" data-pointer="center">
      Aggregate listview CTR for all products from this seller in this time window
    </z-tooltip>
  </div>
</template>


