<template id="per_seller_stats_main_tpl">
  <div class="zbase_seller_stats">
    <section class='zbase_page_title small' style="none">
      <div>
        <zbase-breadcrumbs>
          <zbase-breadcrumbs-section>
            <a href="/a/">Applications</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section>
            <a href="/a/seller">Seller Stats</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section>
            <a href="/a/seller" class="seller_name_crumb"></a>
          </zbase-breadcrumbs-section>
        </zbase-breadcrumbs>
      </div>
    </section>

    <div class="zbase_content_pane fullwidth">

    </div>
  </div>
</template>
