<template id="per_seller_table_overview_main_tpl">
  <div class="per_seller_table">
    <div class="controls">
      <div class="control right">
        <label style="line-height: 30px;">Display:</label>
        <z-dropdown class="input checkbox metrics" data-multiselect>
          <z-dropdown-flyout>
            <z-dropdown-items>
              <z-dropdown-item data-value="gmv_eurcent" data-selected>
                <z-checkbox data-active></z-checkbox> GMV
              </z-dropdown-item>
              <z-dropdown-item data-value="gmv_per_transaction_eurcent">
                <z-checkbox></z-checkbox> GMV Per Transaction
              </z-dropdown-item>
              <z-dropdown-item data-value="num_purchases">
                <z-checkbox></z-checkbox> Purchases
              </z-dropdown-item>
              <z-dropdown-item data-value="num_active_products">
                <z-checkbox></z-checkbox> Active Products
              </z-dropdown-item>
              <z-dropdown-item data-value="num_listed_products">
                <z-checkbox></z-checkbox> Listed Products
              </z-dropdown-item>
              <z-dropdown-item data-value="num_refunds">
                <z-checkbox></z-checkbox> Refunds
              </z-dropdown-item>
              <z-dropdown-item data-value="refund_rate">
                <z-checkbox></z-checkbox> Refund Rate
              </z-dropdown-item>
              <z-dropdown-item data-value="refunded_gmv_eurcent">
                <z-checkbox></z-checkbox> Refunded GMV
              </z-dropdown-item>
              <z-dropdown-item data-value="shop_page_views">
                <z-checkbox></z-checkbox> Shop Page Views
              </z-dropdown-item>
              <z-dropdown-item data-value="product_page_views">
                <z-checkbox></z-checkbox> Product Page Views
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_ctr_search_page">
                <z-checkbox></z-checkbox> Search Page CTR
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_clicks_search_page">
                <z-checkbox></z-checkbox> Search Page Clicks
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_ctr_catalog_page">
                <z-checkbox></z-checkbox> Catalog Page CTR
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_clicks_catalog_page">
                <z-checkbox></z-checkbox> Catalog Page Clicks
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_ctr_shop_page">
                <z-checkbox></z-checkbox> Shop Page CTR
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_clicks_shop_page">
                <z-checkbox></z-checkbox> Shop Page Clicks
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_ctr_ads">
                <z-checkbox></z-checkbox> Ad CTR
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_clicks_ads">
                <z-checkbox></z-checkbox> Ad Clicks
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_ctr_recos">
                <z-checkbox></z-checkbox> Reco CTR
              </z-dropdown-item>
              <z-dropdown-item data-value="listview_clicks_recos">
                <z-checkbox></z-checkbox> Reco Clicks
              </z-dropdown-item>
            </z-dropdown-items>
          </z-dropdown-flyout>
        </z-dropdown>
      </div>
    </div>
    <table class="z-table">
      <thead>
        <tr>
          <th class="time">Time</th>
          <th class="hidden num_active_products">Active Products</th>
          <th class="hidden num_listed_products">Listed Products</th>
          <th class="hidden num_purchases">Purchases</th>
          <th class="hidden num_refunds">Refunds</th>
          <th class="hidden refund_rate">Refund Rate</th>
          <th class="hidden gmv_eurcent">GMV</th>
          <th class="hidden refunded_gmv_eurcent">Refunded GMV</th>
          <th class="hidden gmv_per_transaction_eurcent">GMV Per Transaction</th>
          <th class="hidden shop_page_views">Shop Views</th>
          <th class="hidden product_page_views">Product Views</th>
          <th class="hidden listviews_views_search_page">Search Views</th>
          <th class="hidden listview_clicks_search_page">Search Clicks</th>
          <th class="hidden listview_ctr_search_page">Search CTR</th>
          <th class="hidden listiew_views_catalog_page">Catalog Views</th>
          <th class="hidden listview_clicks_catalog_page">Catalog Clicks</th>
          <th class="hidden listview_ctr_catalog_page">Catalog CTR</th>
          <th class="hidden listview_views_shop_page">Shop Views</th>
          <th class="hidden listview_clicks_shop_page">Shop Clicks</th>
          <th class="hidden listview_ctr_shop_page">Shop CTR</th>
          <th class="hidden listview_views_ads">Ad Views</th>
          <th class="hidden listview_clicks_ads">Ad Clicks</th>
          <th class="hidden listview_ctr_ads">Ad CTR</th>
          <th class="hidden listview_views_recos">Reco Views</th>
          <th class="hidden listview_ctr_recos">Reco CTR</th>
          <th class="hidden listview_clicks_recos">Reco Clicks</th>
          <th style="width: 60px;"></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</template>

<template id="per_seller_table_overview_row_tpl">
  <tr>
    <td class="time"></td>
    <td class="hidden num_active_products"></td>
    <td class="hidden num_listed_products"></td>
    <td class="hidden num_purchases"></td>
    <td class="hidden num_refunds"></td>
    <td class="hidden refund_rate"></td>
    <td class="hidden gmv_eurcent"></td>
    <td class="hidden refunded_gmv_eurcent"></td>
    <td class="hidden gmv_per_transaction_eurcent"></td>
    <td class="hidden shop_page_views"></td>
    <td class="hidden product_page_views"></td>
    <td class="hidden listviews_views_search_page"></td>
    <td class="hidden listview_clicks_search_page"></td>
    <td class="hidden listview_ctr_search_page"></td>
    <td class="hidden listiew_views_catalog_page"></td>
    <td class="hidden listview_clicks_catalog_page"></td>
    <td class="hidden listview_ctr_catalog_page"></td>
    <td class="hidden listview_views_shop_page"></td>
    <td class="hidden listview_clicks_shop_page"></td>
    <td class="hidden listview_ctr_shop_page"></td>
    <td class="hidden listview_views_ads"></td>
    <td class="hidden listview_clicks_ads"></td>
    <td class="hidden listview_ctr_ads"></td>
    <td class="hidden listview_views_recos"></td>
    <td class="hidden listview_ctr_recos"></td>
    <td class="hidden listview_clicks_recos"></td>
  </tr>
</template>
