.zbase_doc_settings {
  font-size: 13px;
}

.zbase_doc_settings h4 {
  margin-bottom: 10px;
}

.zbase_doc_settings .doc_setting {
  border-top: 1px solid #eee;
  line-height: 28px;
}

.zbase_doc_settings .doc_setting .doc_setting_title {
  display: inline-block;
  width: 100px;
}

.zbase_doc_settings .doc_setting .doc_setting_value {
  display: inline-block;
}

.zbase_doc_settings .doc_setting .link {
  font-weight: 500;
}
