.zbase_doc_settings {
  font-size: 13px;
}

.zbase_doc_settings h3 {
  font-weight: 500;
  color: #333;
  margin: 0 0 10px;
  font-size: 13px;
}

.zbase_doc_settings .doc_setting {
  border-top: 1px solid #eee;
  line-height: 28px;
}

.zbase_doc_settings .doc_setting .doc_setting_title {
  display: inline-block;
  width: 100px;
}

.zbase_doc_settings .doc_setting .doc_setting_value {
  display: inline-block;
  font-weight: 500;
  color: #333;
}

.zbase_doc_settings .doc_setting .doc_setting_title.with_dropdown {
  width: 89px;
}

.zbase_doc_settings .doc_setting .doc_setting_value z-dropdown {
  line-height: 28px;
  vertical-align: middle;
}

.zbase_doc_settings .doc_setting .doc_setting_value z-dropdown z-dropdown-item {
  line-height: 16px;
}


.zbase_doc_settings .doc_setting .doc_setting_value.with_icon:after {
  content: "\f0d7";
  font: normal normal normal 12px/1 FontAwesome;
  font-weight: 400;
  margin-left: 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zbase_doc_settings .doc_setting .doc_setting_value.with_icon:hover {
  cursor: pointer;
}

.zbase_doc_settings .doc_setting .link {
  font-weight: 500;
}

.zbase_doc_settings .zbase_doc_settings_modal {
  font-size: 14px;
}

.zbase_doc_settings .zbase_doc_settings_modal h4 {
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  margin: 0;
}

.zbase_doc_settings .doc_settings_infobar {
  border-bottom: 1px solid #edc3c3;
  background: #fff0f0;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(10,10,10,0.65);
  display: block;
}

.zbase_doc_settings .doc_settings_infobar.hidden {
  display: none;
}
