.zbase_doc_settings {
  font-size: 13px;
}

.zbase_doc_settings h4 {
  margin-bottom: 10px;
}

.zbase_doc_settings .doc_setting {
  border-top: 1px solid #eee;
  line-height: 28px;
}

.zbase_doc_settings .doc_setting .doc_setting_title {
  display: inline-block;
  width: 100px;
}

.zbase_doc_settings .doc_setting .doc_setting_value {
  display: inline-block;
}

.zbase_doc_settings .doc_setting .doc_setting_title.with_dropdown {
  width: 89px;
}

.zbase_doc_settings .doc_setting .doc_setting_value z-dropdown {
  line-height: 28px;
  vertical-align: middle;
}

.zbase_doc_settings .doc_setting .doc_setting_value z-dropdown z-dropdown-item {
  line-height: 16px;
}

.zbase_doc_settings .doc_setting .doc_setting_value.acl_policy {
  font-weight: 500;
}

.zbase_doc_settings .doc_setting .doc_setting_value.acl_policy:after {
  content: "\f0d7";
  font: normal normal normal 12px/1 FontAwesome;
  font-weight: 400;
  margin-left: 0.5em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zbase_doc_settings .doc_setting .doc_setting_value.acl_policy:hover {
  cursor: pointer;
}

.zbase_doc_settings .doc_setting .link {
  font-weight: 500;
}
