.zbase_datastore .datastore_sidebar z-menu {
  position: absolute;
  width: 180px;
  margin-left: -8px;
  margin-top: 6px;
}

.zbase_datastore .datastore_viewport {
  margin-left: 186px;
  border-left: 1px solid #ddd;
  min-height: 900px; /* FIXME */
  padding-left: 20px;
}

@media (max-width: 1700px) {
  .zbase_datastore .datastore_viewport {
    padding-right: 20px;
  }

  .zbase_datastore .datastore_sidebar z-menu {
    width: 162px;
    margin-left: 10px;
  }
}
