<template id="zbase_datastore_menu_main_tpl">
  <z-menu class="zbase_default_menu">
    <z-menu-section>
      <z-menu-title>
        <a href="/a/datastore">Datastore</a>
      </z-menu-title>
      <z-menu-item class="link" data-active>
        <a>All Tables</a>
      </z-menu-item>
      <z-menu-item class="link">
        <a>Events</a>
      </z-menu-item>
      <z-menu-item class="link">
        <a>Metrics</a>
      </z-menu-item>
      <z-menu-item class="link">
        <a>Logfiles</a>
      </z-menu-item>
    </z-menu-section>
  </z-menu>
</template>
