<template id="zbase_datastore_main_tpl">
  <section class='zbase_page_title small'>
    <div>
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/">Datastore</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/">-</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>
  </section>

  <div class="zbase_content_pane zbase_datastore fullwidth">

    <div class="datastore_sidebar">
    </div>

    <div class="datastore_viewport">
    </div>

  </div>
</template>
