.zbase_datastore_table_detail {
  background: #fff;
}

.zbase_datastore_table_detail .zbase_content.main_menu zbase-breadcrumbs-section.table_name a {
  color: #3498db;
}

.zbase_datastore_table_detail table.z-table {
  font-size: 13px;
  table-layout: fixed;
  border-bottom: 2px solid #d4d4d4;
  margin-bottom: 20px;
}

.zbase_datastore_table_detail table.z-table {
  font-size: 13px;
}

.zbase_datastore_table_detail table.z-table thead th {
  font-weight: 400;
  color: #888;
}

.zbase_datastore_table_detail table.z-table tbody tr td {
  line-height: 24px;
}

.zbase_datastore_table_detail table.z-table tbody tr a {
  color: #888;
}

.zbase_datastore_table_detail table.z-table tbody tr td:first-child a {
  color: #000;
}
