<template id="zbase_datastore_table_detail_tpl">
  <section class='zbase_page_title small'>
    <div>
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/datastore">Datastore</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/datastore/tables">Tables</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section class="table_name">
          <a></a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>
  </section>

  <div class="zbase_content_pane fullwidth zbase_datastore zbase_datastore_table_detail">
    <h2 class="pagetitle"><em></em></h2>

    <table class="z-table">
      <thead>
        <tr>
          <th>Column Name</th>
          <th>Type</th>
          <th>NULL</th>
        </tr>
      </thead>

      <tbody></tbody>
    </table>
  </div>
</template>
