<template id="zbase_datastore_table_detail_tpl">
  <section class='zbase_page_title medium'>
    <div>
      <h2 class="pagetitle zbase_datastore_menu_pagetitle">Datastore</h2>
    </div>
  </section>

  <div class="zbase_content_pane zbase_datastore">
    <div class="zbase_datastore_menu_sidebar">
    </div>

    <div class="zbase_datastore_menu_content">
      <div class="zbase_datastore_table_detail">
        <zbase-breadcrumbs>
          <zbase-breadcrumbs-section>
            <a href="/a/datastore">Datastore</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section>
            <a href="/a/datastore/tables">Tables</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section class="table_name">
            <a></a>
          </zbase-breadcrumbs-section>
        </zbase-breadcrumbs>
        <h2 class="pagetitle"><em></em></h2>

        <table class="z-table">
          <thead>
            <tr>
              <th>Column Name</th>
              <th>Type</th>
              <th>NULL</th>
            </tr>
          </thead>

          <tbody></tbody>
        </table>

      </div>
    </div>
  </div>
</template>
