.inspector-json {
	
	padding: 15px 0;
	font: 13px/18px "Droid Sans Mono", "Courier", monospace;;
	color: #444;
	
	}

.inspector-json * {
	
	white-space: pre-wrap;
	word-wrap: break-word;
	
	}

.inspector-json ol,
.inspector-json ul {
	
	list-style-type: none;
	margin: 0 0 9px 0;
	padding: 0 0 0 25px;
	border-left: rgba( 0, 0, 0, 0.1 ) 1px solid;
	
	}

.inspector-json > ol,
.inspector-json > ul {
	
	padding: 0;
	border-left: none;
	
	}

.inspector-json var {
	
	font-style: normal;
	
	}

.inspector-json li > strong,
.inspector-json li > a {
	
	margin-right: 8px;
	
	}

.inspector-json li > a {
	
	text-decoration: none;
	color: #3d8ad3;
	
	}

.inspector-json li > strong {

	color: #3d8ad3;

	}

.inspector-json li > a:hover {
	
	color: rgb( 0, 85, 128 );
	
	}

.inspector-json li.object > a:before,
.inspector-json li.array > a:before {
	
	content: '\25BC'; /* down pointing triangle */
	display: inline-block;
	width: 10px;
	margin-right: 5px;
	font-size: 75%;
	
	}

.inspector-json li.collapsed > a:before {
	
	content: '\25B6'; /* right pointing triangle */
	
	}

.inspector-json li.collapsed > ol,
.inspector-json li.collapsed > ul {
	
	display: none;
	
	}

.inspector-json li > span {
	
	color: rgb( 50, 150, 80 );
	
	}

.inspector-json li > em {
	
	color: rgb( 190, 40, 40 );
	
	}

.inspector-json li > var {
	
	color: rgb( 150, 0, 150 );
	
	}

.inspector-json li > i {
	
	color: rgb( 150, 150, 150 );
	
	}
