@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

*{ margin: 0; padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

/* iPad Input Shadows */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none
}

html {
  background:#fff;
  overflow-y: scroll;
}

html, body{
  min-height: 100%;
  overflow-x:hidden;
}

body{
  padding:0;
  margin:0;
  color:#545758;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body, input, textarea, button{ font:16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:400; }
h1,h2,h3{
  font-weight: normal;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 { color: #444; font-size:36px; font-weight:600; }
h1.large{ font-size: 36px; margin-left: -3px; margin-bottom: 8px; font-weight:400; }
h1.bold, h1.large.bold{ font-weight:600; }
h2 { color:#434343; font-size:130%; padding:5px 0; margin-top:1.4em; margin-bottom:.4em; font-weight:600; }
h3{ font-size:14px; font-weight:600; margin-top:1.4em; margin-bottom: 0.5em; }
ul, ol{ padding-left: 2em; margin: 1em 0; }
p,pre { display:block; margin: 0 0 1em 0; }
pre,code{font-family: "Droid Sans Mono",monospace; margin: 0; padding:0; }
p.copy{ margin-bottom:15px; }
hr{ border:none; border-bottom:1px solid #e0e0e0; margin-top:10px; clear:both; }
h3 + hr{ margin-bottom:20px; }
a{ font-weight:normal; text-decoration:none; cursor:pointer; color:#333; }
a:hover {color:#333;}
a.link,
.link {
  color: #3498db;
  text-decoration: none
}
a.link:hover { text-decoration: underline; }

.link:hover {
  cursor: pointer;
}

h2 i {
  font-style: normal;
  font-weight: 500;
}

h1 {
  color: #666;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  padding: 0;
  font-weight: 500;
}

::selection {
  background: #a8d1ff;
}

::-moz-selection {
  background: #a8d1ff;
}

template {
  display: none;
}

.zbase_docs_header {
  width: 100%;
  background: #fff;
  height: 39px;
  line-height: 39px;
  z-index: 99999;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}

.zbase_docs_header .navigation_inner {
  margin: auto;
  max-width: 2048px;
  min-width: 960px;
  box-sizing: border-box;
  padding: 0 20px;
}

.zbase_docs_header .logo_app {
  margin-top: 6px;
  display: block;
  float: left;
  width: 30px;
  margin-right: 4px;
}

/**
 * zbase_docs_page_title
 */
.zbase_docs_page_title {
  background-color: #3498db;
  border-bottom: 1px solid #c9d0d4;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  position: relative;
  height: 61px;
}

.zbase_docs_page_title > div {
  padding: 1px 20px;
  margin: auto;
  max-width: 2048px;
  min-width: 960px;
}

.zbase_docs_page_title h2.pagetitle {
  color: #fff;
  margin-top: -1px;
}


/**
 * h2.pagetitle
 */
h2.pagetitle {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

h2.pagetitle, h2.pagetitle a {
  line-height: 60px;
  font-size: 20px;
  font-weight: 300;
  color: #454545;
}

h2.pagetitle a:hover {
  color: #3498db;
}

/**
 * zbase-breadcrumbs
 */
zbase-breadcrumbs,
.zbase-breadcrumbs {
  display: inline-block;
  vertical-align: middle;
  margin: 1em 0em;
  font-size: 14px;
  line-height: 1.33;
  padding: 0;
  color: rgba(0,0,0,.8);
  font-size: 12px;
}

ul.zbase-breadcrumbs {
  list-style-type: none;
}

zbase-breadcrumbs:first-child,
.zbase-breadcrumbs :first-child {
  margin-top: 0em;
}
zbase-breadcrumbs:last-child,
.zbase-breadcrumbs:last-child {
  margin-bottom: 0em;
}

zbase-breadcrumbs zbase-breadcrumbs-section,
.zbase-breadcrumbs .zbase-breadcrumbs-section{
  display: inline-block;
  margin: 0em;
  padding: 0em;
}

zbase-breadcrumbs zbase-breadcrumbs-section::after,
.zbase-breadcrumbs .zbase-breadcrumbs-section::after {
  font-size: 1.1em;
  display: inline-block;
  vertical-align:middle;
  opacity: .5;
  color: rgba(0,0,0,.4);
  height: 1em;
  line-height: 1;
  font-weight: bold;
  padding: 0 .1rem 0 .4rem;
  margin:0;
  font-family: FontAwesome;
  content: "\f105";
}

zbase-breadcrumbs zbase-breadcrumbs-section:last-child::after,
.zbase-breadcrumbs .zbase-breadcrumbs-section:last-child::after{
  padding: 0;
  content: '';
}

zbase-breadcrumbs zbase-breadcrumbs-section[data-active],
.zbase-breadcrumbs .zbase-breadcrumbs-section[data-active]{
  font-weight: bold;
}

/* Link */
zbase-breadcrumbs zbase-breadcrumbs-section[data-link],
.zbase-breadcrumbs .zbase-breadcrumbs-section[data-link] {
  cursor: pointer;
  color: #009fda;
}

zbase-breadcrumbs zbase-breadcrumbs-section[data-link]:hover,
.zbase-breadcrumbs .zbase-breadcrumbs-section[data-link]:hover {
  color: #00b2f3;
}

.zbase_docs_viewport {
  display: table;
  width: 100%;
}

.zbase_docs_content_outer {
  display: table-cell;
  vertical-align: top;
  padding: 40px 0 40px 0;
  border-left: 1px solid #e8e8e8;
  background-color: #fff;
}

.zbase_docs_sidebar {
  display: table-cell;
  vertical-align: top;
  width: 300px;
  background: rgba(63,144,170,.08);
}

.zbase_docs_sidebar z-menu {
  border-right: 1px solid #e8e8e8;
}

.zbase_docs_sidebar z-menu-item {
  display: block;
  margin-left: 20px;
  padding-right: 0;
  border-left: 0;
}

.zbase_docs_menu > z-menu-item {
  margin-left: 0;
}

.zbase_docs_sidebar z-menu-item a {
  display: block;
  padding: 8px 15px;
  line-height: 20px;
  color: #364149 ;
  font-size: 14px;
}

.zbase_docs_sidebar z-menu-item span.index {
  font-weight: 700;
  margin-right: 5px;
}

.zbase_docs_content {
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.zbase_docs_content * {
  box-sizing: border-box;
}

.zbase_docs_content > *:first-child {
  margin-top: 0 !important;
}

.zbase_docs_content h1,
.zbase_docs_content h2,
.zbase_docs_content h3,
.zbase_docs_content h4,
.zbase_docs_content h5,
.zbase_docs_content h6 {
  color: #333;
  position: relative;
  margin-bottom: 16px;
  font-weight: bold;
  height: initial;
}

.zbase_docs_content h1,
.zbase_docs_content h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eee;
  margin: .67em 0;
}

.zbase_docs_content h1 {
  font-size: 2.25em;
  line-height: 1.2;
}

.zbase_docs_content h2 {
  font-size: 1.75em;
  line-height: 1.225;
}

.zbase_docs_content h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.zbase_docs_content h4 {
  font-size: 1.25em;
}

.zbase_docs_content h5 {
  font-size: 1em;
}

.zbase_docs_content h6 {
  font-size: 1em;
  color: #777;
}

.zbase_docs_content ol,
.zbase_docs_content ul,
.zbase_docs_content dl,
.zbase_docs_content pre,
.zbase_docs_content p,
.zbase_docs_content blockquote,
.zbase_docs_content table {
  margin-top: 0;
  margin-bottom: 16px;
}

.zbase_docs_content hr {
  background-color: #000;
}

.zbase_docs_content blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
  margin: 0;
}

.zbase_docs_content pre,
.zbase_docs_content code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.zbase_docs_content a {
  color: #4183c4;
  text-decoration: none;
}

.zbase_docs_content a:hover {
  text-decoration: underline;
}

.zbase_docs_content table {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #808080;
}

.zbase_docs_content th,
.zbase_docs_content td {
  padding: 6px 13px;
  border: 1px solid #ddd;
  display: table-cell;
  vertical-align: inherit;
}

.zbase_docs_content tr {
  display: table-row;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.zbase_docs_content th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  font-weight: bold;
}

.zbase_docs_content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
}

.zbase_docs_content code {
  padding: 0;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 0;
  font-size: 85%;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.zbase_docs_content pre code {
  display: inline;
  max-width: initial;
  overflow: initial;
  padding: 0;
  margin: 0;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.zbase_docs_content pre > code {
  font-size: 100%;
  white-space: pre;
  background: transparent;
}
