z-calendar {
  display: block;
}

z-calendar table {
  border-radius: 3px;
  font-size: 1em;
  line-height: 1em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  border-collapse: collapse;
}

z-calendar table tr {
  height: 1.98em;
}

z-calendar table th {
  padding: 0.4em;
  line-height: 1.3em;
  text-align: center;
  font-weight: normal;
  color: inherit;
}

z-calendar table td {
  padding: 0.45em 0.5em;
  line-height: 1.3em;
  text-align:center;
  cursor: default;
  color: inherit;
}

z-calendar table td.selectable:hover {
  cursor: pointer;
}

z-calendar .fa {
  color: inherit;
  padding-left: 0.4em;
  padding-right: 0.4em;
}

z-calendar .fa:hover {
  cursor:pointer;
}

/**********************
  States
***********************/
z-calendar table tr.week td {
 color: rgba(0, 0, 0, 0.6); 
}

z-calendar table tr.week td.select-calendar table {
  color: rgba(0, 0, 0, 0.85);
}

z-calendar table td.highlight {
  background-color: #f0f0f0;
}

z-calendar table td.highlight_border {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

z-calendar table td.bright {
  opacity: 0.6;
}

z-calendar table td.colored {
  background-color: #f0f0f0;
}
