<template id="zbase_table_viewer_tpl">
  <div class="zbase_content_pane zbase_table_viewer fullwidth">

    <div class="zbase_table_viewer_breadcrumbs">
      <zbase-breadcrumbs class="page_wrap frame">
        <zbase-breadcrumbs-section>
          <a href="/a/">Datastore</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/datastore/tables">Tables</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a class="table_name_breadcrumb"></a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>

    <h2 class="pagetitle page_wrap frame" style="overflow:hidden;">
      <i class="fa fa-database"></i>Table: <em><a class="table_name"></a></em>
    </h2>

    <z-tabbable class="slim_tabs">
      <div class="page_wrap frame">
        <z-tab class="link"><a href="/a/datastore/tables/">Overview</a></z-tab>
        <z-tab class="link"><a href="/a/datastore/tables/edit/">Schema</a></z-tab>
        <z-tab class="link" data-active><a href="/a/datastore/tables/view/">Table Viewer</a></z-tab>
        <z-tab class="link" style="display: none;"><a href="/a/datastore/tables/">Settings</a></z-tab>
      </div>
    </z-tabbable>

    <div class='control_pane page_wrap frame inner'>
      <div class="control_pane_bar">
        <z-dropdown class='input filter_type_control' style="position:absolute; display: none;">
          <z-dropdown-flyout>
            <z-dropdown-items>
              <z-dropdown-item data-value="sql" data-text="SQL"><i class="fa fa-filter" style="font-weight:normal; margin-right: 5px;"></i> SQL</z-dropdown-item>
              <z-dropdown-item data-value="regex" data-text="Regex">Regex</z-dropdown-item>
              <z-dropdown-item data-value="fulltext" data-text="Fulltext">Fulltext</z-dropdown-item>
            </z-dropdown-items>
          </z-dropdown-flyout>
        </z-dropdown>

        <z-search style="display: none; margin-left:80px" class='filter_control'>
          <z-input class="icon" data-placeholder="Filter by SQL" style="position: relative; top: 1px; display: block;">
            <z-input-icon><i class='fa fa-search'></i></z-input-icon>
          </z-input>
        </z-search>
      </div>

      <div class="control_pane_bar">
        <div class="control_pane_item">
          <label>Limit:</label>
          <div class="limit_display hidable_input_container">

            <label>
              <span class="limit_value"></span>
              <i class="fa fa-caret-down"></i>
            </label>

            <z-input class="icon limit_control" data-placeholder="50">
              <z-input-icon><i class="fa fa-check"></i></z-input-icon>
            </z-input>

          </div>
        </div>

        <div class="control_pane_item">
          <label>Offset:</label>
          <div class="offset_display hidable_input_container">

            <label>
              <span class="offset_value"></span>
              <i class="fa fa-caret-down"></i>
            </label>

            <z-input class="icon offset_control" data-placeholder="0">
              <z-input-icon><i class="fa fa-check"></i></z-input-icon>
            </z-input>

          </div>
        </div>
      </div>
    </div>


    <div class="result_pane">
      <div class="loading_bar hidden">
        <h3 class="page_wrap frame inner">
          <div class="loaderanim-outer">
            <div class="loaderanim">
              <div class="rect1"></div>
              <div class="rect2"></div>
              <div class="rect3"></div>
              <div class="rect4"></div>
              <div class="rect5"></div>
            </div>
          </div>
          Scanning...
          <div class="loading_bar_info right hidden" style="font-size: 12px;">
            <span style="font-weight:500;"><span class="num_rows"></span></span> rows scanned
          </div>
        </h3>
      </div>

      <div class="json_viewer">
        <div class="content page_wrap frame inner"></div>
      </div>
    </div>
  </div>
</template>
