.zbase_header .button {
  margin-left: 40px;
}

.zbase_header ul li .nav {
  font-size: 13px;
  display: block;
  text-decoration: none;
  padding: 0 10px;
  line-height: 42px;
  color: #808A95;
  line-height: 40px;
  height: 40px;
  display: block;
}

.zbase_header ul li .nav:hover {
  color: #1c99d6;
}

.zbase_header ul li a.active {
  color: #1c99d6;
  font-weight: 500;
}

.zbase_header ul li a:hover {
  color: #486780;
}

.zbase_header .button {
  float: right;
}

.zbase_header .dropdown {
  cursor: pointer;
  display: block;
}

.zbase_header .dropdown .dropdown_header .fa-caret-down {
  margin-right: 3px;
  margin-left: 5px;
}

.zbase_header .dropdown .dropdown_header {
  display: block;
  padding: 0 10px;
  color: #444;
}

.zbase_header .dropdown .dropdown_panel {
  display: none;
}

.zbase_header .dropdown.open .dropdown_panel {
  display: block;
  width: 100%;
  font-size: 13px;
  margin-top: -3px;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom: 2px solid #e1e1e1;
}

.zbase_header .dropdown_panel li {
  display: block;
}

.zbase_header .dropdown_panel a,
.zbase_header .dropdown_panel span {
  display: block;
  width: 100%;
  color: #444;
  text-decoration: none;
  cursor: pointer;
}

.zbase_header .dropdown_panel a:hover,
.zbase_header .dropdown_panel span:hover {
  color: #111;
}

.zbase_select_namespace_modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
}

.zbase_select_namespace_modal img {
  margin-bottom: 20px;
}

.zbase_select_namespace_modal .namespace_prompt {
  background-color: #fff;
  width: 500px;
  min-height: 0 !important;
  padding: 20px;
  margin: 0px auto;
  margin-top: 50px !important;
  border-radius: 10px;
}

.zbase_select_namespace_modal ul.namespace_list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.zbase_select_namespace_modal ul.namespace_list li {
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 14px;
}

.zbase_select_namespace_modal ul.namespace_list li:hover {
  background-color: #f0f6f8;
  margin-top: -1px;
  border-top: 1px solid #c9d0d4;
  border-bottom: 1px solid #c9d0d4;
  cursor: pointer;
}

.zbase_select_namespace_modal a.go_back {
  color: #1c99d6;
  font-size: 14px;
}

.zbase_header .main_menu > li:first-child {
  border-left: 1px solid #eee;
  margin-left: 8px;
}

.zbase_header .main_menu > li {
  border-right: 1px solid #eee;
  padding: 0 8px 0 6px;
  vertical-align: middle;
  height: 40px;
}

.zbase_header .main_menu > li i {
  margin-right: 3px;
  vertical-align: 0;
}
