.zbase_header {
  margin-bottom: 77px;
}

.zbase_header .header_bar {
  width: 100%;
  height: 44px;
  line-height: 44px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #3d8ad3;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 99998;
  top: 34px;
}

.zbase_header .navigation_inner {
  margin: auto;
  max-width: 2048px;
  min-width: 960px;
  box-sizing: border-box;
  padding: 0 20px 0 0;
}

.zbase_header .sep {
  height: 44px;
  width: 1px;
  float: left;
  border-left: 1px solid rgba(255,255,255,.1);
}

.zbase_header .button {
  float: right;
}

.zbase_header .btn_settings {
  float: right;
  height: 32px;
  line-height: 32px;
  margin-top: 6px;
  padding: 0 16px;
  color: rgba(255,255,255,.97);
  font-size: 12px;
}

.zbase_header .new_query {
  /*border-left: 1px solid #eee;*/
  padding-left: 4px;
}

.zbase_header .btn_settings i,
.zbase_header z-dropdown.new_query z-dropdown-header i {
  font-size: 16px;
  position: relative;
  top: 2px;
}

.zbase_header .btn_settings span,
.zbase_header z-dropdown.new_query span {
  margin-left: 6px;
}

.zbase_header .btn_settings:hover {
  color: #3d8ad3;
}

.zbase_header z-dropdown.new_query {
  float: right;
  border-right: 1px solid rgba(255,255,255,.2);
  margin-top: 6px;
  height: 32px;
}

.zbase_header z-dropdown.new_query z-dropdown-header {
  height: 32px;
  line-height: 33px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255,255,255,.97);
}

.zbase_header z-dropdown.new_query z-dropdown-flyout {
  left: -23px;
}

#menu_toggler:hover {
  cursor: pointer;
  background: rgba(255,255,255,.1);
}

#menu_toggler {
  width: 179px;
  float: left;
  height: 44px;
}

#menu_toggler.closed {
  width: 60px;
}

.zbase_header .menu_icon {
  width: 13px;
  float: left;
  margin-top: 17px;
  margin-left: 24px;
}

.zbase_header .menu_icon i {
  background: rgba(255,255,255,.8);
  display: block;
  height: 2px;
  margin-bottom: 2px;
}

.zbase_header zbase-breadcrumbs {
  font-size: 13px;
  font-weight: 300;
  margin-left: 24px;
}

.zbase_header zbase-breadcrumbs,
.zbase_header zbase-breadcrumbs a {
  color: #fff;
}

.zbase_header zbase-breadcrumbs a:hover {
  text-decoration: underline;
}

.zbase_header zbase-breadcrumbs zbase-breadcrumbs-section::after {
  padding: 0 .24rem 0 .4rem;
  color: rgba(255,255,255,.4);
  opacity: 1;
}

#zscale_user_navi {
  font-size: 12px;
  margin-right: 16px;
  padding-left: 12px;
  color: #4E6370;
}

#zscale_user_navi .dropdown {
  cursor: pointer;
  display: block;
}

#zscale_user_navi .dropdown .dropdown_header .fa-caret-down {
  margin-right: 3px;
  margin-left: 5px;
}

#zscale_user_navi .dropdown .dropdown_header {
  display: block;
  padding: 0 10px;
}

#zscale_user_navi .dropdown .dropdown_panel {
  display: none;
}

#zscale_user_navi .dropdown.open .dropdown_panel {
  box-sizing: content-box;
  display: block;
  width: 100%;
  font-size: 13px;
  margin-top: -1px;
  margin-left: -11px;
  padding-right: 11px;
  background-color: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border: 1px solid #d2d2d2;
  border-top: none;
  box-shadow: 0 2px 3px rgba(0,0,0,.1);
  position: absolute;
  z-index: 99999;
}

#zscale_user_navi .dropdown_panel li {
  display: block;
  margin-right: -11px;
}

#zscale_user_navi .dropdown_panel li:hover {
  background: #f2f8fa;
}

#zscale_user_navi .dropdown_panel li:hover a,
#zscale_user_navi .dropdown_panel li:hover span {
  color: #3d8ad3;
}

#zscale_user_navi .dropdown_panel a,
#zscale_user_navi .dropdown_panel span {
  display: block;
  width: 100%;
  color: #444;
  text-decoration: none;
  cursor: pointer;
  text-align: left;
  padding-left: 20px;
}

#zscale_user_navi .dropdown_panel a:hover,
#zscale_user_navi .dropdown_panel span:hover {
  color: #111;
}



.zbase_select_namespace_modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100000;
  text-align: center;
}

.zbase_select_namespace_modal img {
  margin-bottom: 20px;
}

.zbase_select_namespace_modal .namespace_prompt {
  background-color: #fff;
  width: 500px;
  min-height: 0 !important;
  padding: 20px;
  margin: 0px auto;
  margin-top: 50px !important;
  border-radius: 10px;
}

.zbase_select_namespace_modal ul.namespace_list {
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
}

.zbase_select_namespace_modal ul.namespace_list li {
  border-bottom: 1px solid #eee;
  padding: 10px 20px;
  font-size: 14px;
}

.zbase_select_namespace_modal ul.namespace_list li:hover {
  background-color: #f0f6f8;
  margin-top: -1px;
  border-top: 1px solid #c9d0d4;
  border-bottom: 1px solid #c9d0d4;
  cursor: pointer;
}

.zbase_select_namespace_modal a.go_back {
  color: #3d8ad3;
  font-size: 14px;
}
