.zbase_sql_editor .zbase_sql_editor_sidebar {
  padding: 20px 20px 0;
  float: right;
  width: 340px;
  height: 200px;
}

.zbase_sql_editor .zbase_sql_editor_sidebar .sidebar_section {
  margin-top: 20px;
  border-top: 1px solid #eee;
  font-size: 13px;
  line-height: 21px;
}

.zbase_sql_editor .zbase_sql_editor_sidebar .sidebar_title {
  font-weight: 500;
  color: #333;
  font-size: 13px;
  margin-bottom: 10px;
}

.zbase_sql_editor .zbase_sql_editor_sidebar a.link {
  font-size: 13px;
}

.zbase_sql_editor .zbase_sql_editor_content {
  margin-left: 20px;
  margin-right: 340px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.zbase_sql_editor .zbase_sql_editor_title {
  padding: 0 20px;
  overflow: auto;
}

.zbase_sql_editor .zbase_sql_editor_title .zbase_button {
  float: right;
  margin-top: 15px;
  margin-left: 10px;
  font-size: 13px;
}

.zbase_sql_editor .zbase_sql_editor_title .pagetitle {
  float:left;
}

.zbase_sql_editor .zbase_sql_editor_infobar {
  background-color: #f0f6f8;
  border-bottom: 1px solid #c9d0d4;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(10,10,10,0.65);
  display: block;
}

.zbase_sql_editor .zbase_sql_editor_infobar em {
  font-weight: 500;
  font-style: normal;
  color: rgba(10,10,10,0.7);
}

.zbase_sql_editor .zbase_sql_editor_infobar.hidden {
  display: none;
}

/**
  * Overview
  */
.zbase_sql_editor .zbase_sql_editor_overview table.zbase_table {
  border-top: 1px solid #e1e1e1;
}

.zbase_sql_editor .zbase_sql_editor_overview table.zbase_table tbody {
  font-size: 12px;
}

/**
  * Editor
  */
.zbase_sql_editor .zbase_sql_editor_pane /deep/ .CodeMirror-gutters {
  background: #f0f6f8;
}

.zbase_sql_editor .zbase_sql_editor_pane /deep/ .CodeMirror {
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

