z-tabbable,
.z-tabbable {
  background-color: transparent;
  border-bottom: 1px solid #d4d4d5;
  border-radius: 0em;
  box-shadow: none;
  margin: 1rem 0;
  background: #fff;
  font-weight: 400;
  display: block;
  box-sizing: border-box;
  line-height: 1.33;
  color: rgba(0,0,0,.8);
}

z-tabbable z-tab,
.z-tabbable .z-tab {
  display: inline-block;
  padding: .76em 1.4em;
  margin: 0 0 0 -4px;
  background-color: transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

z-tabbable z-tab:first-child,
.z-tabbable .z-tab:first-child {
  margin-left: 0;
}

z-tabbable z-tab:before,
.z-tabbable .z-tab:before {
  display: none;
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: -webkit-linear-gradient(rgba(0,0,0,.05) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.05) 100%);
  background: linear-gradient(rgba(0,0,0,.05) 0,rgba(0,0,0,.1) 50%,rgba(0,0,0,.05) 100%);
}

/* Hover */
z-tabbable z-tab:hover,
.z-tabbable .z-tab:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
  cursor:pointer;
}

/* Active */
z-tabbable z-tab[data-active],
.z-tabbable .z-tab[data-active] {
  position: relative;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  border-color: #d4d4d5;
  font-weight: bold;
  margin-bottom: -1px;
  border-bottom: 1px solid #ffffff;
  box-shadow: none;
  border-radius: 5px 5px 0px 0px;
}

/* Coupling with segment for attachment */
z-tabbable[data-content-attached],
.z-tabbable[data-content-attached] {
  border-bottom: none;
}

z-tabbable[data-content-attached] z-tab[data-active],
.z-tabbable[data-content-attached] .z-tab[data-active] {
  position: relative;
  z-index: 2;
}

z-tabbable[data-content-attached] z-tab-content,
.z-tabbable[data-content-attached] .z-tab-content {
  box-sizing: border-box;
  margin: -1px 0px 0px;
  border-radius: 0 .2857rem .2857rem .2857rem;
  top: 0;
  bottom: 0;
  box-shadow: none;
  border: 1px solid #d4d4d5;
  position: relative;
  background-color: #fff;
  padding: 1em;
}

z-tabbable[data-content-attached] z-tab-content,
.z-tabbable[data-content-attached] .z-tab-content {
  display:none;
}

z-tabbable[data-content-attached] z-tab-content[data-active],
.z-tabbable[data-content-attached] .z-tab-content[data-active] {
  display: block;
}
