<template id="evql-database-list-database-creator-tpl">
  <div class="database_creator">
    <div class="evql_modal">
      <div class="modal_window">
        <div class="header">Create Database</div>
        <div class="body">
          <div>
            <label>Please enter the name of the database:</label>
          </div>

          <div class="input_container">
            <input class="txt" type="text" name="database" />
          </div>
        </div>

        <div class="footer">
          <button class="btn" data-control="hide">Cancel</button>
          <button class="btn" data-control="submit"> Save</button>
        </div>
      </div>
    </div>
  </div>
</template>
