.zbase_seller_stats.per_seller .inventory .dimension_control {
  font-size: 14px;
  margin-top: 8px;
}

.zbase_seller_stats.per_seller .inventory .dimension_control label {
  color: #888;
  margin-right: 5px;
}

.zbase_seller_stats.per_seller .inventory .dimension_control a.link {
  padding: 0 5px;
}

.zbase_seller_stats.per_seller .inventory table.metric_table {
  margin-top: 10px;
}
