.zbase_seller_stats .seller_csv_download {
  padding: 0 0 13px 10px;
}

.zbase_seller_stats .seller_csv_download .control {
  overflow: visible;
  height: 56px;
}

.zbase_seller_stats .seller_csv_download .control label {
  color: #888;
  font-size: 13px;
  float: left;
  margin: 0 14px 0 0;
  line-height: 56px;
}

.zbase_seller_stats .seller_csv_download .control z-daterangepicker {
  float: left;
  position: relative;
  top: 13px;
}

.zbase_seller_stats .seller_csv_download .control z-dropdown {
  float: left;
  position: relative;
  top: 14px;
}

.zbase_seller_stats .seller_csv_download button.download {
  margin-top: 22px;
}
