<template id="zbase_documents_menu_main_tpl">
  <z-menu class="zbase_default_menu">

    <z-menu-item class="link">
      <a href="/a/">All Documents</a>
    </z-menu-item>

    <z-menu-section>
      <z-menu-title>
        ECommerce
      </z-menu-title>
      <z-menu-item class="link">
        <a href="/a/">Cohorts</a>
      </z-menu-item>
      <z-menu-item class="link">
        <a href="/a/">Funnels</a>
      </z-menu-item>
    </z-menu-section>

    <z-menu-section>
      <z-menu-title>
        Web Analytics
      </z-menu-title>
      <z-menu-item class="link">
        <a href="/a/">Audience</a>
      </z-menu-item>
      <z-menu-item class="link">
        <a href="/a/">On-Site Search</a>
      </z-menu-item>
    </z-menu-section>


    <z-menu-section>
      <z-menu-title>
        DevOps
      </z-menu-title>
      <z-menu-item class="link">
        <a href="/a/">Logfiles</a>
      </z-menu-item>
    </z-menu-section>


  </z-menu>
</template>
