<template id="zbase_documents_main_tpl">
  <div class="zbase_content_pane zbase_documents fullwidth">

    <div class="docs_header">
      <z-dropdown class="input primary" data-resolved data-hover style="margin-top: 14px;">
        <z-dropdown-header>
          <z-dropdown-header-value data-static>
              <span style="margin-left:4px; margin-right: 10px;">New Document</span>
          </z-dropdown-header-value>
        </z-dropdown-header>
        <z-dropdown-flyout>
          <z-dropdown-items>
            <z-dropdown-item data-value='sql_query'>SQL Query</z-dropdown-item>
            <z-dropdown-item data-value='report'>Report</z-dropdown-item>
          </z-dropdown-items>
        </z-dropdown-flyout>
      </z-dropdown>

      <h2 class="pagetitle">My Documents</h2>
    </div>

    <div class="zbase_documents_wrap">
      <div class="docs_sidebar">
      </div>
      <div class="docs_list">
        <div style="min-height: 600px;">
          <table class="z-table zbase_clickable_table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Last modified</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
