.zbase_documents .zbase_content.main_menu {
  background: #fff;
  padding: 0;
}

.zbase_documents table.z-table {
  table-layout: fixed;
  font-size: 13px;
}

.zbase_documents table.z-table thead th {
  font-weight: 400;
  color: #888;
}

.zbase_documents table.z-table tbody tr td {
  line-height: 24px;
}

.zbase_documents table.z-table tbody tr a {
  color: #888;
}

.zbase_documents table.z-table tbody tr td:first-child a {
  color: #000;
}

.zbase_documents z-dropdown.input {
  float: right;
  margin-top: 12px;
}

.zbase_documents z-dropdown.input z-dropdown-header {
  font-size: 13px;
  line-height: 34px;
  height: 34px;
  min-width: 133px;
}

#zbase_viewport .zbase_content_pane.zbase_documents {
  padding-bottom: 8px;
}
