<template id="zbase_documents_main_tpl">
  <section class='zbase_page_title small'>
    <div>
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/">Query</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/documents">Documents</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>
  </section>
  <div class="zbase_content_pane zbase_documents">
    <div class="zbase_home_menu_sidebar">
    </div>

    <div class="zbase_home_menu_content">
      <h2 class="pagetitle">My Documents</h2>
      <table class="z-table zbase_clickable_table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Last modified</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</template>
