*{ margin: 0; padding: 0; }

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* iPad Input Shadows */
input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none
}

html {
  background:#fff;
  overflow-y: scroll;
}

html, body{
  min-height: 100%;
  height: auto;
  overflow-x:hidden;
}

body{
  padding:0;
  margin:0;
  color:#545758;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body, input, textarea, button{ font:16px/24px 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight:400; }
h1,h2,h3{ font-weight: normal; }
h1 { color: #444; font-size:36px; font-weight:600; }
h1.large{ font-size: 36px; margin-left: -3px; margin-bottom: 8px; font-weight:400; }
h1.bold, h1.large.bold{ font-weight:600; }
h2 { color:#434343; font-size:130%; padding:5px 0; margin-top:1.4em; margin-bottom:.4em; font-weight:600; }
h3{ font-size:14px; font-weight:600; margin-top:1.4em; margin-bottom: 0.5em; }
ul, ol{ padding-left: 2em; margin: 1em 0; }
p,pre { display:block; margin: 0 0 1em 0; }
pre,code{font-family: "Droid Sans Mono",monospace; margin: 0; padding:0; }
p.copy{ margin-bottom:15px; }
hr{ border:none; border-bottom:1px solid #e0e0e0; margin-top:10px; clear:both; }
h3 + hr{ margin-bottom:20px; }
a{ font-weight:normal; text-decoration:none; cursor:pointer; color:#333; }
a:hover {color:#333;}
a.link,
.link {
  color: #1c99d6;
  text-decoration: none
}
a.link:hover { text-decoration: underline; }

.link:hover {
  cursor: pointer;
}

h2 i {
  font-style: normal;
  font-weight: 500;
}

h1 {
  color: #666;
  font-size: 18px;
  line-height: 24px;
  height: 24px;
  padding: 0;
  font-weight: 500;
}

::selection {
  background: #a8d1ff; 
}

::-moz-selection {
  background: #a8d1ff;
}

.clearfix {
  clear: both;
}

/**
 * h2.pagetitle
 */
h2.pagetitle {
  margin: 0;
  padding: 0;
}

h2.pagetitle, h2.pagetitle a {
  line-height: 60px;
  font-size: 19px;
  font-weight: 300;
  color: #454545;
}

h2.pagetitle a:hover {
  color: #1c99d6;
}

h2.pagetitle.editable {
  line-height: 26px;
  margin: 17px 0;
  display: inline-block;
  padding: 0 3px;
}

h2.pagetitle.editable:hover {
  cursor: pointer;
  background: #f0f6f8;
}

h2.pagetitle i.sep:after {
  display: inline-block;
  opacity: .5;
  color: rgba(0,0,0,.4);
  line-height: 1;
  font-weight: bold;
  margin: 0 5px;
  font-family: FontAwesome;
  content: "\f105";
}


h2.pagetitle em {
  font-style: normal;
  font-weight: 400;
}

h2.pagetitle.border_bottom {
  border-bottom: 1px solid #ddd;
}


/* .zbase_wrap, .zbase_viewport */
#zbase_viewport {
  min-width: 1000px;
  min-height: 100%;
  width: 100%;
  top: 39px;
  position: absolute;
}

#zbase_viewport > .zbase_content_pane {
  min-width: 1000px;
  min-height: 100%;
  margin: auto;
  max-width: 1700px;
  padding: 0 20px;
}

/**
 * zbase_header
 */
.zbase_header {
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e1e1e1;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  height: 40px;
  line-height: 30px;
  overflow: hidden;
  position: fixed;
  z-index: 99999;
}

.zbase_header .navigation_inner {
  margin: auto;
  max-width: 1700px;
  min-width: 1000px;
  box-sizing: border-box;
  padding: 0 20px;
}

.zbase_header .logo_app {
  margin-top: 9px;
  display: block;
  float: left;
  width: 30px;
}

.zbase_header.hidden {
  display: none;
}

.zbase_header ul {
  float: left;
  list-style: none;
  margin-right: 20px;
  text-align: center;
  color: #808A95;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.zbase_header ul li {
  display: inline-block;
}

/**
 * zbase_loader
 */
.zbase_loader {
  height: 100%;
  width: 100%;
  display: table;
}

.zbase_loader.hidden {
  display: none;
}

.zbase_loader.fullscreen {
  position: fixed;
  background: rgba(255, 255, 255, .8);
  z-index: 99990;
}

.zbase_loader .spinner_outer {
  display: table-cell;
  vertical-align: middle;
}

.zbase_loader .spinner {
  width: 50px;
  height: 30px;
  display: block;
  text-align: center;
  font-size: 10px;
  margin: auto;
}

.zbase_loader .spinner > div {
  background-color: #999;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: zbase_loader_anim 1.2s infinite ease-in-out;
  animation: zbase_loader_anim 1.2s infinite ease-in-out;
}

.zbase_loader .spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.zbase_loader .spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.zbase_loader .spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.zbase_loader .spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes zbase_loader_anim {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes zbase_loader_anim {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

/**
 * zbase_page_title
 */
.zbase_page_title {
  background-color: #f0f6f8;
  border-bottom: 1px solid #c9d0d4;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  height: 54px;
}

.zbase_page_title > div {
  padding: 0 18px;
  margin: auto;
  max-width: 1700px;
  min-width: 1000px;
}

.zbase_page_title h1 {
  margin: 0;
  line-height: 55px;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  display: inline-block;
  opacity: .9;
}

/**
 * zbase_input
 */
zbase_input,
.zbase_input,
input.zbase_input {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
}

zbase_input input,
.zbase_input input,
input.zbase_input {
  margin: 0em;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-align: left;
  line-height: 1.2142em;
  padding: 0.67861em 1em;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2857rem;


  box-shadow: none;
  font-size: 1em;
}

/*--------------------
      Placeholder
---------------------*/
/* browsers require these rules separate */
zbase_input input::-webkit-input-placeholder,
.zbase_input input::-webkit-input-placeholder,
input.zbase_input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3em;
}
zbase_input input::-moz-placeholder,
.zbase_input input::-moz-placeholder,
input.zbase_input::-moz-placeholder{
  color: rgba(0, 0, 0, 0.4);
  line-height: 1.3em;
}

/*******************************
            States
*******************************/
/*--------------------
        Active
---------------------*/

zbase_input input:active,
.zbase_input input:active,
input.zbase_input:active{
  border-color: rgba(0, 0, 0, 0.3);
  background: #fafafa;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}

/*--------------------
        Focus
---------------------*/
zbase_input input:focus,
.zbase_input input:focus,
input.zbase_input:focus {
  border-color: rgba(39, 41, 43, 0.3);
  background: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
zbase_input input:focus input::-webkit-input-placeholder,
.zbase_input input:focus input::-webkit-input-placeholder,
input.zbase_input:focus input::-webkit-input-placeholder{
  color: rgba(0, 0, 0, 0.8);
}

zbase_input input:focus input::-moz-placeholder,
.zbase_input input:focus input::-moz-placeholder,
input.zbase_input:focus input::-moz-placeholder{
  color: rgba(0, 0, 0, 0.8);
}

/*--------------------
        Error
---------------------*/
zbase_input.error input,
.zbase_input.error input,
input.zbase_input.error {
  background-color: #fff0f0;
  border-color: #dbb1b1;
  color: #d95c5c;
  box-shadow: none;
}

/* Error Placeholder */
zbase_input.error input ::-webkit-input-placeholder,
.zbase_input.error input ::-webkit-input-placeholder,
input ::-webkit-input-placeholder.zbase_input.error {
  color: rgba(255, 80, 80, 0.4);
}

zbase_input.error input ::-moz-placeholder,
.zbase_input.error input ::-moz-placeholder,
input ::-moz-placeholder,zbase_input.error {
  color: rgba(255, 80, 80, 0.4);
}

/* Focused Error Placeholder */
zbase_input.error input:focus::-webkit-input-placeholder,
.zbase_input.error input:focus::-webkit-input-placeholder,
input.zbase_input.error:focus::-webkit-input-placeholder{
  color: rgba(255, 80, 80, 0.7);
}

zbase_input.error input :focus::-moz-placeholder,
.zbase_input.error input :focus::-moz-placeholder {
  color: rgba(255, 80, 80, 0.7);
}

/*******************************
           Variations
*******************************/
/*--------------------
      Transparent
---------------------*/
zbase_input.transparent input,
.zbase_input.transparent input,
input.zbase_input.transparent {
  border-color: transparent;
  background-color: transparent;
  padding: 0em;
}

/* Transparent Icon */
.ui.transparent.icon.input > i.icon {
  width: 1.25em;
}

.ui.transparent.icon.input > input {
  padding-left: 0em !important;
  padding-right: 2em !important;
}
.ui.transparent[class*="left icon"].input > input {
  padding-left: 0em !important;
  padding-left: 2em !important;
}

/*--------------------
         Icon
---------------------*/
zbase_input-icon,
.zbase_input-icon {
  cursor: default;
  position: absolute;
  text-align: center;
  top: 0px;
  right: 0px;
  margin: 0em;
  height: 100%;
  width: 2.82142em;
  opacity: 0.5;
  border-radius: 0em 0.2857rem 0.2857rem 0em;


}
zbase_input.icon input,
.zbase_input.icon input {
  padding-right: 2.82142em !important;
}

zbase_input-icon i:before,
zbase_input-icon i:after,
i.zbase_input-icon:before,
i.zbase_input-icon:after{
  left: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  margin-top: -0.5em;
}

/* Left Icon Input */
zbase_input.icon.left > zbase_input-icon,
.zbase_input.icon.left > .zbase_input-icon {
  right: auto;
  left: 1px;
  border-radius: 0.2857rem 0em 0em 0.2857rem;
}
zbase_input.icon.left input,
.zbase_input.icon.left input {
  padding-left: 2.82142em !important;
  padding-right: 1em !important;
}

/* Focus */
zbase_input.icon.left input:focus ~ zbase_input-icon,
.zbase_input.icon.left input:focus ~ .zbase_input-icon{
  opacity: 1;
}


/*--------------------
      CSV Items
---------------------*/
zbase_input.csv zbase_input-value {
  display: inline-block;
  position: relative;
  margin-left: 0.45em;
  top: -2.15em;
  background-color: rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius:0.2857rem;
  padding: 0 4px;
}

zbase_input.csv zbase_input-value i {
  margin-left: 2px;
  opacity: 0.7;
}

/**
  * zbase_button
  */
.zbase_button {
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 0 0 1px rgba(39,41,43,0.15) inset;
  padding: .78571em 1.5em .78571em;
  line-height: 1;
  border-radius: 3px;
  background: transparent;
  border: 0;
}

/**
  * zbase_primary_button
  */
.zbase_button.zbase_primary_button {
  background: #1c99d6;
  color: #fff;
  font-weight: 400;
  font-size: 13px;
}

/**
  * zbase_table
  */
table.zbase_table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}

table.zbase_table thead th {
  background: transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,.09);
  font-weight: 500;
  text-align: left;
  color: rgba(0,0,0,0.8);
  border-bottom: 1px solid #e1e1e1;
  vertical-align: middle;
  background: transparent;
  box-shadow: 0 1px 2px rgba(0,0,0,.09);
  padding: .8em;
  line-height: 1em;
}

table.zbase_table tbody {
  font-size: 13px;
}

table.zbase_table tbody tr td {
  border-top: 1px solid #e1e1e1;
  padding: .7em .8em;
  text-align: left;
  vertical-align: middle;
}

table.zbase_table tbody tr:first-child td {
  border-top: none;
}

/**
  * zbase_clickable_table
  */
table.zbase_table.zbase_clickable_table tr:hover td {
  background: #f0f6f8;
  cursor: pointer;
}
