.zbase_report_list .zbase_content.main_menu {
  background: #fff;
}

.zbase_report_list .z-button {
  float: right;
}

.zbase_report_list table.z-table {
  table-layout: fixed;
  font-size: 13px;
}

.zbase_report_list table.z-table thead th {
  font-weight: 400;
  color: #888;
  background: #f9f9f9;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.zbase_report_list table.z-table tbody tr td {
  padding: 0;
}

.zbase_report_list table.z-table tbody tr a {
  color: #888;
  padding: .7em .8em;
  line-height: 24px;
  display: block;
}

.zbase_report_list table.z-table tbody tr td:first-child a {
  color: #3e8ad3;
}

.zbase_report_list table.z-table tbody tr td:first-child a:hover {
  text-decoration: underline;
}

.zbase_report_list z-dropdown.input {
  float: right;
  margin-top: 12px;
}

.zbase_report_list z-dropdown.input z-dropdown-header {
  font-size: 13px;
  line-height: 34px;
  height: 34px;
  min-width: 133px;
}

#zbase_viewport .zbase_content_pane.zbase_report_list {
  padding-bottom: 8px;
}
