<template id="zbase_report_list_main_tpl">
  <div class="zbase_report_list">
    <div class="zbase_content_pane">

      <button class="z-button secondary new_report" style="margin-top: 16px;">
        <i class="fa fa-plus"></i> &nbsp;New Report
      </button>

      <h2 class="pagetitle"><em>Reports</em></h2>

      <table class="z-table zbase_clickable_table" style="border-top: 1px solid #ddd;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Last modified</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>

    </div>
  </div>
</template>
