/**
 * Adapted from: Semantic UI:
 *   https://github.com/Semantic-Org/Semantic-UI
 *   http://www.semantic-ui.com/
 */

z-pager,
.z-pager {
  display:block;
  line-height: 1.3em;
  color: rgba(0,0,0,.8);
  -webkit-tap-highlight-color: transparent;
}

z-pager::selection,
.z-pager::selection {
  background: transparent;
}

z-pager::-moz-selection,
.z-pager::-moz-selection {
  background: transparent;
}

z-pager-title,
.z-pager-title {
  float:left;
  display:inline;
  padding: 6px 10px 6px 0;
}

.z-pager-title b {
  font-weight: 500;
}

z-pager-tooltip-for,
z-pager-tooltip-back,
.z-pager-tooltip-back,
.z-pager-tooltip-for {
  display:inline;
  float:left;
  padding: 6px 12px;
  margin-left: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 1.3em;
}

z-pager-tooltip-back,
.z-pager-tooltip-back {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

z-pager-tooltip-for,
.z-pager-tooltip-for {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
}

z-pager-tooltip-back:before,
.z-pager-tooltip-back:before {
  line-height: 1.3em;
  font-family: FontAwesome;
  content: "\f100";
}

z-pager-tooltip-for:before,
.z-pager-tooltip-for:before {
  font-family: FontAwesome;
  content: "\f101";
}


z-pager-tooltip-for[data-disabled],
.z-pager-tooltip-for[data-disabled],
z-pager-tooltip-back[data-disabled],
.z-pager-tooltip-back[data-disabled] {
  cursor: initial;
  opacity: 0.5;
}

z-pager .pager {
  display: inline-block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  color: rgba(0,0,0,.8);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}

z-pager .title {
  float:left;
  display:inline;
  padding: 6px 10px 6px 0;
}

z-pager .title b {
  font-weight: 500;
}
z-pager .tooltip {
  display:inline;
  float:left;
  padding: 6px 12px;
  margin-left: -1px;
  color: rgba(0,0,0,.8);
  background-color: #fff;
  border: 1px solid #ddd;
  line-height: 1.3em;
}

z-pager .tooltip i {
  line-height: 1.3em;
}

z-pager .tooltip.backward {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

z-pager .tooltip.forward {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

z-pager .tooltip.disabled {
  opacity: 0.4;
}

z-pager .tooltip:hover {
  cursor:pointer;
}

z-pager .tooltip.disabled:hover {
  cursor: default;
}

