.zbase_table_viewer .loading_bar {
  background-color: #f2f8fa;
  border-bottom: 1px solid #c9d0d4;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(10,10,10,0.65);
}

.zbase_table_viewer .loading_bar.hidden {
  display: none;
}

.zbase_table_viewer .loading_bar em {
  font-weight: 500;
  font-style: normal;
  color: rgba(10,10,10,0.7);
}

.zbase_table_viewer .loading_bar h3 {
  margin: 0;
  color: #3498db;
  line-height: 18px;
}

.zbase_table_viewer .loading_bar_info {
  font-weight: 400;
  white-space: nowrap
}

.zbase_table_viewer .loading_bar_info.hidden {
  display: none;
}

@media (max-width: 2048px) {
  .zbase_table_viewer .loading_bar {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.zbase_table_viewer .loaderanim-outer {
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-left: -10px;
  margin-right: 10px;
}

.zbase_table_viewer .loaderanim {
  width: 50px;
  height: 20px;
  display: block;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
}

.zbase_table_viewer .loaderanim > div {
  background-color: #3498db;
  height: 100%;
  width: 4px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.zbase_table_viewer .loaderanim .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.zbase_table_viewer .loaderanim .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.zbase_table_viewer .loaderanim .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.zbase_table_viewer .loaderanim .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}


@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

.zbase_table_viewer .control_pane .z-input,
.zbase_table_viewer .control_pane z-input {
  font-size: 13px;
  vertical-align: top;
  width: auto;
  display: inline-block;
}

.zbase_table_viewer .control_pane z-input  input {
  border: 1px solid #bdbdbd;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
}


.zbase_table_viewer.loading .json_viewer {
  opacity: 0.5;
}

.zbase_table_viewer .control_pane .control_pane_bar {
  padding: 4px 0;
}

.zbase_table_viewer .control_pane z-dropdown.inline {
  margin-right: 10px;
}

.zbase_table_viewer .control_pane z-dropdown.inline z-dropdown-header {
  font-size: 12px;
  color: #3498db;
  font-weight: 500;
  line-height: 36px;
}

.zbase_table_viewer .control_pane label {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  line-height: 38px;
}

.zbase_table_viewer .filter_control z-input input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.zbase_table_viewer .filter_type_control {
  width: 60px;
}

.zbase_table_viewer z-dropdown.filter_type_control.input z-dropdown-header {
  height: 35px;
  line-height: 34px;
  margin-top: 1px;
}

.zbase_table_viewer .limit_display {
  display: inline-block;
}

.zbase_table_viewer .limit_display.active label,
.zbase_table_viewer .limit_display input.limit_control {
  display: none;
}

.zbase_table_viewer .limit_display label,
.zbase_table_viewer .limit_display.active input.limit_control {
  display: block;
}

.zbase_table_viewer .limit_display label {
  color: #3498db;
  font-weight: 500;
  cursor: pointer;
}
