z-datetimepicker-flyout {
  font-size: 13px;
  padding: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  position: absolute;
  background: #fff;
  z-index: 11111;
  display: none;
}

z-datetimepicker-flyout[data-active] {
  display: block;
}

z-datetimepicker-flyout z-datetimepicker-time-controls {
  padding-left: 27px;
  margin-bottom: 5px;
  display: block;
}

z-datetimepicker-flyout z-datetimepicker-time-controls b {
  line-height: 34px;
  margin: 0 4px;
}

z-datetimepicker-flyout button.z-button {
  font-size: 12px;
  margin-top: 5px;
  float: right;
}

z-datetimepicker-flyout z-datetimepicker-error {
  display: none;
  color: #a94442;
  background: #fff0f0;
  padding: 3px;
  margin-bottom: 5px;
  text-align: center;
}

z-datetimepicker-flyout z-datetimepicker-error[data-active] {
  display: block;
}
