<template id="zbase_table_editor_tpl">
  <div class="zbase_content_pane fullwidth main_menu zbase_table_editor">
    <div class="zbase_main_menu"></div>

    <div class="zbase_content main_menu" style="padding: 0 20px;">
      <h2 class="pagetitle" style="overflow:hidden;">
        <a href="/a/datastore/tables" class="back_btn"></a>
        <em>Table: </em><a class="table_name_breadcrumb"></a>
      </h2>

      <z-tabbable class="slim_tabs" style="margin-top: -2px;">
        <z-tab class="link schema" data-active>
          <a>Schema</a>
        </z-tab>
        <z-tab class="link settings">
          <a>Settings</a>
        </z-tab>
      </z-tabbable>

      <div class="dropdown_container">
        <z-dropdown class="input primary edit" data-resolved>
          <z-dropdown-header>
            <z-dropdown-header-value data-static>
                <span style="margin-left:4px; margin-right: 10px;">Edit</span>
            </z-dropdown-header-value>
          </z-dropdown-header>
          <z-dropdown-flyout>
            <z-dropdown-items>
              <z-dropdown-item data-value='add_column'>
                <z-dropdown-icon><i class="fa fa-plus"></i></z-dropdown-icon>
                Add Column
              </z-dropdown-item>
              <z-dropdown-item data-value='delete_column'>
                <z-dropdown-icon><i class="fa fa-trash-o"></i></z-dropdown-icon>
                Remove Column
              </z-dropdown-item>
            </z-dropdown-items>
          </z-dropdown-flyout>
        </z-dropdown>
      </div>


      <table class="z-table">
        <thead>
          <tr>
            <th>Column Name</th>
            <th>Type</th>
            <th>NULL</th>
          </tr>
        </thead>

        <tbody></tbody>
      </table>
    </div>

    <z-modal class="add_column">
      <z-modal-box>
        <z-modal-close-icon></z-modal-close-icon>
        <div class="container"></div>
      </z-modal-box>
    </z-modal>

    <z-modal class="delete_column">
      <z-modal-box>
        <z-modal-close-icon></z-modal-close-icon>
        <div class="container"></div>
      </z-modal-box>
    </z-modal>
  </div>
</template>

<template id="zbase_table_editor_row_tpl">
  <tr>
    <td class="name"></td>
    <td class="type"></td>
    <td class="is_nullable"></td>
  </tr>
</template>

<template id="zbase_table_editor_delete_modal_tpl">
  <div class="z-modal-header">Remove Column</div>

  <div class="z-modal-content">
    <h3>Please note that this action is irreversable!</h3>
    <p>Please type in the name of the column that you want to remove.</p>
    <div class="error_note hidden">
      The column you entered does not exist. Please type in an existing column.
    </div>
    <input class="z-input" />
  </div>

  <div class="z-modal-footer">
    <button class="z-button primary submit">Remove this column</button>
    <button class="z-button secondary close">Cancel</button>
  </div>
</template>

<template id="zbase_table_editor_add_modal_tpl">
  <div class="z-modal-header">Add Column</div>
  <div class="z-modal-content">
    <div class="field">
      <label>Name:</label>
      <input class="z-input name" type="text" />
      <div class="error_note name hidden">Please insert a name</div>
    </div>

    <div class="field">
      <label>Type:</label>
      <z-dropdown class="input type" data-resolved>
        <z-dropdown-flyout>
          <z-dropdown-items>
            <z-dropdown-item data-value="STRING" data-selected>STRING</z-dropdown-item>
            <z-dropdown-item data-value="DOUBLE">DOUBLE</z-dropdown-item>
            <z-dropdown-item data-value="UINT32">UINT32</z-dropdown-item>
            <z-dropdown-item data-value="UINT64">UINT64</z-dropdown-item>
            <z-dropdown-item data-value="BOOLEAN">BOOLEAN</z-dropdown-item>
            <z-dropdown-item data-value="DATETIME">DATETIME</z-dropdown-item>
          </z-dropdown-items>
        </z-dropdown-flyout>
      </z-dropdown>
    </div>

    <div class="field">
      <label>NULL:</label>
      <z-dropdown class="input is_nullable" data-resolved>
        <z-dropdown-flyout>
          <z-dropdown-items>
            <z-dropdown-item data-value="true" data-selected>TRUE</z-dropdown-item>
            <z-dropdown-item data-value="false">FALSE</z-dropdown-item>
          </z-dropdown-items>
        </z-dropdown-flyout>
      </z-dropdown>
    </div>
  </div>
  <div class="z-modal-footer">
    <button class="z-button primary submit">Save</button>
    <button class="z-button secondary close">Cancel</button>
  </div>
</template>
