.zbase_report_sql_editor .report_widget_title em.editable {
  padding: 5px 3px;
}

.zbase_report_sql_editor .report_widget_title em.editable:hover {
  cursor: pointer;
  background: #f2f8fa;
}

.zbase_report_sql_result_pane table.z-table thead th:first-child,
.zbase_report_sql_result_pane table.z-table tbody td:first-child {
  padding-left: 20px;
}

.zbase_report_sql_result_pane table.z-table {
  border-top: 1px solid #e6e8e9;
  border-bottom: 1px solid #e6e8e9;
  font-size: 13px;
}

.zbase_report_sql_result_pane table.z-table tbody {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

.zbase_report_sql_result_pane table.z-table thead th {
  background: #f6f6f6;
}

.zbase_report_sql_result_pane .zbase_sql_chart {
  padding: 20px;
  border-top: 1px solid #eee;
}

.zbase_report_sql_result_pane .zbase_loader {
  height: 70px;
}

.zbase_report_sql_error_message {
  display: block;
  position: relative;
  min-height: 1em;
  padding: 1em 1.5em;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #fff0f0;
  color: #a94442;
}

.zbase_report_sql_error_message h3 {
  margin-top: 0;
}

.zbase_report_sql_editor {
  background: #fff;
}

.zbase_report_sql_editor z-codeeditor {
  border-top: 1px solid #c9d0d4;
  border-bottom: 1px solid #c9d0d4;
}

.zbase_report_sql_editor .CodeMirror-gutters {
  background: rgba(63,144,170,.08);
  background-color: none;
}

.zbase_report_sql_editor .CodeMirror {
  border-left: none;
  border-right: none;
  border-bottom: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.zbase_report_sql_editor z-modal.zbase_report_sql_modal {
  font-size: 14px;
}

.zbase_report_sql_editor z-modal.zbase_report_sql_modal h3 {
  font-weight: 400;
  margin: 0;
  line-height: 34px;
}
