<template id="evql-console-tpl">
  <div class="evql_console">
    <div class="toolbar">
      <i class="icon-terminal"></i> Console
      <a class="link clear"><i class="icon-cancel-circle"></i> Clear Console</a>
    </div>
    <div class="console">
    </div>

    <div class="prompt">
      <span>evql&gt;</span>
      <textarea rows=1 spellcheck="false"></textarea>
      <span class="hint">Press 'Enter' to execute<span>
    </div>
  </div>
</template>

<template id="evql-console-query-tpl">
  <div>
    <p class="cmd"></p>
    <p class="status">Waiting...</p>
  </div>
</template>
