.zbase_datastore_logfiles table.z-table {
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  table-layout: fixed;
}

.zbase_datastore_logfiles .logfile_definition td {
  vertical-align: top;
  padding-top: 16px;
}

.zbase_datastore_logfiles .logfile_definition .logfile_name {
  background-color: #f2f8fa;
  border-bottom: 1px solid #c9d0d4;
  position: absolute;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(10,10,10,0.8);
  line-height: 18px;
}

.zbase_datastore_logfiles .logfile_definition .logfile_config {
  padding: 2px 0 20px 0;
  word-wrap: break-word;
}

.zbase_datastore_logfiles .logfile_definition pre {
  font-family: "Droid Sans Mono", "Courier", monospace;
  font-size: 12px;
  line-height: 120%;
  color: #000;
  opacity: 0.9;
}

.zbase_datastore_logfiles .logfile_definition .edit_link {
  
}

.zbase_datastore_logfiles .add_logfile_definition {
  border-bottom: 2px solid #ddd;
  border-top: 1px solid #d4d4d4;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03);
}

.zbase_datastore_logfiles td.attr_icon {
  width: 64px;
}

.zbase_datastore_logfiles td.attr_icon i {
  font-size: 14px;
  color: #999;
  padding: 10px;
}

.zbase_datastore_logfiles td.attr_icon i:hover {
  cursor: pointer;
  color: #3498db;
}
