
.zbase_datastore_menu_wrap {
  table-layout: fixed;
  width: 100%;
  display: table;
}

.zbase_datastore_menu_sidebar {
  display: table-cell;
  width: 180px;
  padding-right: 14px;
}

.zbase_datastore_menu_sidebar z-menu {
  position: relative;
  width: auto;
  margin-top: 6px;
}

.zbase_datastore_menu_sidebar z-menu i.fa {
  font-size: 80%;
  margin-right: 5px;
  vertical-align: 1px;
}

.zbase_datastore_menu_content {
  display: table-cell;
  min-height: 900px; /* FIXME */
  padding: 0 20px 20px 20px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.zbase_datastore_menu_content zbase-breadcrumbs {
  padding: 0;
  margin: -4px 0 -6px 0;
  opacity: 0.6;
}

.zbase_datastore_menu_content zbase-breadcrumbs + h2.pagetitle {
  margin-top: -10px;
}
