.zbase_datastore_queries .zbase_queries_breadcrumbs {
  height: 36px;
  background: #f9f9f9;
  width: 100%;
  border-bottom: 1px solid #d0d0d0;
}

.zbase_datastore_queries .zbase_queries_breadcrumbs zbase-breadcrumbs {
  font-size: 12px;
  font-weight: 300;
  display: block;
}

.zbase_datastore_queries .zbase_queries_breadcrumbs zbase-breadcrumbs,
.zbase_datastore_queries .zbase_queries_breadcrumbs zbase-breadcrumbs a {
  color: #454545;
  line-height: 36px;
}

.zbase_datastore_queries .zbase_queries_breadcrumbs zbase-breadcrumbs-section:last-child a {
  font-weight: 300;
}

.zbase_datastore_queries .zbase_queries_breadcrumbs zbase-breadcrumbs-section a:hover {
  text-decoration: underline;
}

.zbase_datastore_queries .zbase_content.main_menu {
  background: #fff;
}

.zbase_datastore_queries .z-button {
  float: right;
}

/* controls */
.zbase_datastore_queries .controls {
  height: 70px;
  padding: 18px 0px;
  overflow-y: visible;
}

.zbase_datastore_queries .controls z-search {
  float: left;
  display: block;
  width: 400px;
  font-size: 13px;
}

.zbase_datastore_queries .controls z-search z-input input {
  font-size: 13px;
  border: 1px solid #bdbdbd;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
}

.zbase_datastore_queries .controls z-dropdown {
  float: right;
}

.zbase_datastore_queries .controls z-dropdown.input z-dropdown-header {
  font-size: 13px;
  line-height: 34px;
  height: 34px;
  min-width: 133px;
}

/* table */
.zbase_datastore_queries table.z-table {
  table-layout: fixed;
  font-size: 13px;
}

.zbase_datastore_queries table.z-table thead th {
  font-weight: 400;
  color: #888;
  background: #f9f9f9;
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.zbase_datastore_queries table.z-table thead th:first-child {
  padding-left: 23px;
}

.zbase_datastore_queries table.z-table thead th:last-child {
  padding-right: 23px;
}

.zbase_datastore_queries table.z-table tbody tr td {
  padding: 0;
}

.zbase_datastore_queries table.z-table tbody tr a {
  color: #888;
  padding: .7em .8em;
  line-height: 24px;
  display: block;
}

.zbase_datastore_queries table.z-table tbody tr td:first-child a {
  color: #3e8ad3;
  padding-left: 23px;
}

.zbase_datastore_queries table.z-table tbody tr td:last-child a {
  padding-right: 23px;
}

.zbase_datastore_queries table.z-table tbody tr td:first-child a:hover {
  text-decoration: underline;
}

.zbase_datastore_queries table.z-table.zbase_clickable_table tbody tr:hover td {
  border-top: 1px solid rgba(52, 152, 219, 0.3);
  border-bottom: 1px solid rgba(52, 152, 219, 0.3);
}

#zbase_viewport .zbase_content_pane.zbase_datastore_queries {
  padding-bottom: 8px;
}
