.zbase_search_results table.z-table {
  table-layout: fixed;
  font-size: 13px;
}

.zbase_search_results table.z-table thead th {
  font-weight: 400;
  color: #888;
}

.zbase_search_results table.z-table tbody tr td {
  line-height: 24px;
}

.zbase_search_results table.z-table tbody tr a {
  color: #888;
}

.zbase_search_results table.z-table tbody tr a.name {
  color: #000;
}

.zbase_search_results .search_results_message {
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: 1px solid #ddd;
  padding: 30px 0 35px 0;
  text-align: center;
}

.zbase_search_results .search_results_message h2.pagetitle {
  font-size: 18px;
}
