.zbase_documentation_content {
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.zbase_documentation_content > *:first-child {
  margin-top: 0 !important;
}

.zbase_documentation_content h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  line-height: 1.2;
  margin: .67em 0;
}

.zbase_documentation_content h4 {
  font-size: 1.25em;
}

.zbase_documentation_content a {
  color: #000;
}

.zbase_documentation_content h1,
.zbase_documentation_content h2,
.zbase_documentation_content h3,
.zbase_documentation_content h4,
.zbase_documentation_content h5,
.zbase_documentation_content h6 {
  color: #333;
  position: relative;
  margin-bottom: 16px;
  font-weight: bold;
  height: initial;
}

.zbase_documentation_content h1,
.zbase_documentation_content h2 {
  border-bottom: 1px solid #eee;
}

.zbase_documentation_content h6 {
  color: #000;
}

.zbase_documentation_content hr {
  background-color: #000;
}

.zbase_documentation_content blockquote {
  border-color: #000;
}

.zbase_documentation_content pre,
.zbase_documentation_content code {
  display: block;
  background: #f3f3f3;
  color: #000;
  border-color: #000;
  border-radius: 3px;
  font-size: 85%;
  padding: 16px;
  line-height: 1.45;
  margin-bottom: 16px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.zbase_documentation_content .highlight {
  background-color: #000;
}

.zbase_documentation_content table {

}

.zbase_documentation_content th,
.zbase_documentation_content td {
  border-color: #000;
}

.zbase_documentation_content tr {
  color: #000;
  background-color: #000;
  border-color: #000;
}

.zbase_documentation_content tr:nth-child(2n) {

}
