.zbase_documentation_content {
  max-width: 800px;
  margin: 0 auto;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

.zbase_documentation_content * {
  box-sizing: border-box;
}

.zbase_documentation_content > *:first-child {
  margin-top: 0 !important;
}

.zbase_documentation_content h1,
.zbase_documentation_content h2,
.zbase_documentation_content h3,
.zbase_documentation_content h4,
.zbase_documentation_content h5,
.zbase_documentation_content h6 {
  color: #333;
  position: relative;
  margin-bottom: 16px;
  font-weight: bold;
  height: initial;
}

.zbase_documentation_content h1,
.zbase_documentation_content h2 {
  padding-bottom: .3em;
  border-bottom: 1px solid #eee;
  margin: .67em 0;
}

.zbase_documentation_content h1 {
  font-size: 2.25em;
  line-height: 1.2;
}

.zbase_documentation_content h2 {
  font-size: 1.75em;
  line-height: 1.225;
}

.zbase_documentation_content h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.zbase_documentation_content h4 {
  font-size: 1.25em;
}

.zbase_documentation_content h5 {
  font-size: 1em;
}

.zbase_documentation_content h6 {
  font-size: 1em;
  color: #777;
}

.zbase_documentation_content ol,
.zbase_documentation_content ul,
.zbase_documentation_content dl,
.zbase_documentation_content pre,
.zbase_documentation_content p,
.zbase_documentation_content blockquote,
.zbase_documentation_content table {
  margin-top: 0;
  margin-bottom: 16px;
}

.zbase_documentation_content hr {
  background-color: #000;
}

.zbase_documentation_content blockquote {
  padding: 0 15px;
  color: #777;
  border-left: 4px solid #ddd;
  margin: 0;
}

.zbase_documentation_content pre,
.zbase_documentation_content code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.zbase_documentation_content a {
  color: #4183c4;
  text-decoration: none;
}

.zbase_documentation_content a:hover {
  text-decoration: underline;
}

.zbase_documentation_content table {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #808080;
}

.zbase_documentation_content th,
.zbase_documentation_content td {
  padding: 6px 13px;
  border: 1px solid #ddd;
  display: table-cell;
  vertical-align: inherit;
}

.zbase_documentation_content tr {
  display: table-row;
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.zbase_documentation_content th {
  padding: 6px 13px;
  border: 1px solid #ddd;
  font-weight: bold;
}

.zbase_documentation_content pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
}

.zbase_documentation_content code {
  padding: 0;
  padding-top: .2em;
  padding-bottom: .2em;
  margin: 0;
  font-size: 85%;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.zbase_documentation_content pre code {
  display: inline;
  max-width: initial;
  overflow: initial;
  padding: 0;
  margin: 0;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.zbase_documentation_content pre > code {
  font-size: 100%;
  white-space: pre;
  background: transparent;
}
