.zbase_documentation_content {
  margin-left: 300px;
  padding: 10px;
  color: #333;
}

.zbase_documentation_content > *:first-child {
  margin-top: 0 !important;
}

.zbase_documentation_content h1 {
  padding-bottom: .3em;
  font-size: 2.25em;
  color: #333;
  height: initial;
}

.zbase_documentation_content a {
  color: #000;
}

.zbase_documentation_content h1,
.zbase_documentation_content h2,
.zbase_documentation_content h3,
.zbase_documentation_content h4,
.zbase_documentation_content h5,
.zbase_documentation_content h6 {
  color: #f00;
}

.zbase_documentation_content h1,
.zbase_documentation_content h2 {
  border-color: #333;
}

.zbase_documentation_content h6 {
  color: #000;
}

.zbase_documentation_content hr {
  background-color: #000;
}

.zbase_documentation_content blockquote {
  border-color: #000;
}

.zbase_documentation_content pre,
.zbase_documentation_content code {
  background: #f3f3f3;
  color: #000;
  border-color: #000;
}

.zbase_documentation_content .highlight {
  background-color: #000;
}

.zbase_documentation_content table {

}

.zbase_documentation_content th,
.zbase_documentation_content td {
  border-color: #000;
}

.zbase_documentation_content tr {
  color: #000;
  background-color: #000;
  border-color: #000;
}

.zbase_documentation_content tr:nth-child(2n) {
  background-color: @page-table-row-odd-background-1;
}
