<template id="evql-sql-editor-table-tpl">
  <div class="evql_sql_editor_table">
    <div class="toolbar">
      <label>Result <span data-content="result_idx"></span></label>

      <div class="table_controls">
        <div>
          <label>Display:</label>
          <div data-control="data-visualization"></div>
        </div>

        <a class="link">Download CSV</a>
      </div>
    </div>

    <div class="result_view">
      <div class="chart_container"></div>
      <table class="evql_table">
        <thead>
          <tr></tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
</template>
