.zbase_datastore_tables .create_table h2.pagetitle {
  border-bottom: 1px solid #ddd;
}

.zbase_datastore_tables .create_table input.z-input {
  font-size: 13px;
  display: inline-block;
  width: auto;
}

.zbase_datastore_tables .create_table button.z-button {
  font-size: 13px;
  margin-top: 20px;
}

.zbase_datastore_tables .create_table .error_note {
  display: inline-block;
  font-size: 13px;
  line-height: 34px;
  color: #a94442;
}

.zbase_datastore_tables .create_table .error_note.hidden {
  display: none;
}

.zbase_datastore_tables .create_table .error_message {
  border: 1px solid #edc3c3;
  border-radius: 3px;
  background: #fff0f0;
  color: #a94442;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
}

.zbase_datastore_tables .create_table .error_message.hidden {
  display: none;
}

.zbase_datastore_tables .create_table .error_message h4 {
  color: #a94442;
  line-height: 1.2em;
  margin-bottom: 10px;
}

.zbase_datastore_tables .create_table h4 {
  font-size: 14px;
  line-height: 34px;
  margin: 0;
  color: #333;
  font-weight: 500;
}

.zbase_datastore_tables .create_table .field.inline {
  float: left;
  margin-right: 20px;
}

.zbase_datastore_tables .create_table .field.inline label {
  width: auto;
  margin-right: 5px;
}

.zbase_datastore_tables .create_table .columns {
  margin-top: 35px;
  overflow: visible;
}

.zbase_datastore_tables .create_table .table {
  margin-top: 12px;
  height: 100px;
  overflow: visible;
}

.zbase_datastore_tables .create_table .table h3,
.zbase_datastore_tables .create_table .columns h3 {
  color: #454545;
  font-size: 15px;
  font-weight: 400;
  margin-top: 0;
}

.zbase_datastore_tables .create_table .table table.z-table {
  float: left;
}

.zbase_datastore_tables .create_table table.z-table {
  width: auto;
  border: none;
}

.zbase_datastore_tables .create_table table.z-table tbody tr td {
  padding: .7em .8em;
  border-top: none;
}

.zbase_datastore_tables .create_table table.z-table thead tr th {
  box-shadow: none;
  border-bottom: none;
  width: 230px;
  color: #454545;
  padding-bottom: 0.2em;
  background: none;
}

.zbase_datastore_tables .create_table table.z-table thead tr th:first-child,
.zbase_datastore_tables .create_table table.z-table tbody tr td:first-child {
  padding-left: 0;
}

.zbase_datastore_tables .create_table table {
  border: none;
}

.zbase_datastore_tables .create_table table.z-table z-dropdown {
  vertical-align: middle;
}

.zbase_datastore_tables .create_table table.z-table z-dropdown-header {
  vertical-align: bottom;
}

.zbase_datastore_tables .create_table table.z-table z-dropdown-flyout {
  margin-top: 0px;
}

.zbase_datastore_tables .create_table table.z-table + .error_note {
  margin-top: 35px;
}

.zbase_datastore_tables .create_table .link.add_column {
  font-size: 14px;
  margin-top: 10px;
  text-decoration: underline;
}

.zbase_datastore_tables .create_table table.z-table tr.nested .link.add_column {
  margin-top: 0px;
}

.zbase_datastore_tables .create_table table.z-table tr.nested td.container {
  padding: 0;
}

.zbase_datastore_tables .create_table table.z-table tr.nested table {
  border: none;
}

.zbase_datastore_tables .create_table table.z-table tr.nested h3 {
  border: none;
  margin-bottom: 0;
}
