<template id="zbase_datastore_tables_list_tpl">
  <section class='zbase_page_title small'>
    <div>
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/">Datastore</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/datastore/tables">Tables</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>
  </section>

  <div class="zbase_content_pane zbase_datastore">
    <div class="zbase_home_menu_sidebar">
    </div>

    <div class="zbase_home_menu_content">
      <div class="zbase_datastore_tables">
        <h2 class="pagetitle">Datastore <i class="sep"></i> <em>Tables</em></h2>


      </div>
    </div>

  </div>
</template>
