<template id="zbase_datastore_tables_main_tpl">
  <div class="zbase_datastore_tables">

    <div class="zbase_content_pane fullwidth main_menu">
      <div class="zbase_main_menu"></div>

      <div class="zbase_content main_menu" style="padding: 0 20px;">
      </div>
    </div>

    <z-modal class="create_table">
      <z-modal-box>
        <z-modal-close-icon></z-modal-close-icon>
        <div class="z-modal-header">
          Create a new table
        </div>
        <div class="z-modal-content"></div>
        <div class="z-modal-footer">
          <button class="z-button primary submit">Save</button>
          <button class="z-button secondary close">Cancel</button>
        </div>
      </z-modal-box>
    </z-modal>

    <z-modal class="delete_table">
      <z-modal-box>
        <z-modal-close-icon></z-modal-close-icon>
        <div class="z-modal-header">
          Delete Table
        </div>
        <div class="z-modal-content">
          <h4>Are you sure you want to delete the table <span class="table_name"></span>?</h4>
        </div>
        <div class="z-modal-footer">
          <button class="z-button primary submit">Yes</button>
          <button class="z-button secondary close">Cancel</button>
        </div>
      </z-modal-box>
    </z-modal>
  <div>
</template>

<template id="zbase_datastore_tables_list_tpl">
  <button class="z-button primary create_table" style="margin-top: 16px;">
    <i class="fa fa-plus"></i> &nbsp;Create Table
  </button>
  <h2 class="pagetitle main"><em>Tables</em></h2>

  <table class="z-table zbase_clickable_table" data-clickable style="border-top: 1px solid #ddd;">
    <thead>
      <tr>
        <th>Table</th>
        <th style="width: 160px;">Size</th>
        <th style="width: 60px;">&nbsp;</th>
      </tr>
    </thead>

    <tbody></tbody>
  </table>
</template>

<template id="zbase_datastore_tables_list_row_tpl">
  <tr class="table_definition">
    <td>
      <a href class="table_name"></a>
    </td>
    <td>
      <a style="color: #888;">0.0 TB</a></td>
    <td class="icon">
      <z-dropdown class="edit" data-resolved="">
        <z-dropdown-header>
          <z-dropdown-header-value data-static="">
            <i class="dot"></i>
            <i class="dot"></i>
            <i class="dot"></i>
          </z-dropdown-header-value>
          <z-dropdown-header-icon></z-dropdown-header-icon>
        </z-dropdown-header>
        <z-dropdown-flyout>
          <z-dropdown-items>
            <z-dropdown-item data-value="edit" class="link"><a>Edit Table</a></z-dropdown-item>
          </z-dropdown-items>
        </z-dropdown-flyout>
      </z-dropdown>
    </td>
  </tr>
</template>
