.zbase_datastore_tables .zbase_content {
  background: #fff;
}

.zbase_datastore_tables button.create_table {
  float: right;
  margin-top: 16px;
}

.zbase_datastore_tables table.z-table {
  font-size: 13px;
  table-layout: fixed;
  background: #fff;
}

.zbase_datastore_tables .table_definition .table_config {
  padding: 2px 0 20px 0;
  word-wrap: break-word;
}


.zbase_datastore_tables table.z-table thead th {
  font-weight: 400;
  color: #888;
  padding: 10px 16px;
  background: #f9f9f9;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.zbase_datastore_tables table.z-table tbody tr td {
  padding: 0;
}

.zbase_datastore_tables table.z-table tbody tr td a {
  color: #888;
  line-height: 25px;
  padding: .7em .8em;
  display: block;
}

.zbase_datastore_tables table.z-table thead tr th:first-child,
.zbase_datastore_tables table.z-table tbody tr td:first-child {
  /*padding-left: 24px;*/
}

.zbase_datastore_tables table.z-table tbody tr td:first-child a {
  color: #3e8ad3;
}

.zbase_datastore_tables table.z-table tbody tr td:first-child a:hover {
  text-decoration: underline;
}

.zbase_datastore_tables table.z-table.zbase_clickable_table tbody tr:hover td {
  border-top: 1px solid rgba(52, 152, 219, 0.3);
  border-bottom: 1px solid rgba(52, 152, 219, 0.3);
}

.zbase_datastore_tables table.z-table.zbase_clickable_table tbody tr:hover td:first-child a {
  color: #3d8ad3;
}

.zbase_datastore_tables table.z-table td.icon {
  text-align: center;
}

.zbase_datastore_tables table.z-table td.icon z-dropdown {
  margin-top: 10px;
}

.zbase_datastore_tables table.z-table td.icon z-dropdown-header {
  height: 17px;
}

.zbase_datastore_tables table.z-table td.icon z-dropdown-flyout {
  left: -45px;
}

.zbase_datastore_tables table.z-table td.icon z-dropdown-item.link {
  padding: 0;
}

.zbase_datastore_tables table.z-table td.icon z-dropdown-item a {
  padding: .65em 1.1em;
  color: rgba(0, 0, 0, 0.8);
  display: block;
}

.zbase_datastore_tables table.z-table tr.hidden {
  display: none;
}




.zbase_datastore_tables .dot {
  display: block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: #888;
  margin-bottom: 2px;
}

.zbase_datastore_tables .add_pane {
  border: 1px solid #e1e1e1;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03);
  color: #3d8ad3;
  text-decoration: underline;
}

.zbase_datastore_tables .add_pane:hover {
  cursor: pointer;
}


.zbase_datastore_tables .tbl_box {
  /*margin-left: -24px;
  margin-right: -24px;*/
}
