z-codeeditor {
  display:block;
}

/* BASICS */

z-codeeditor .CodeMirror {
  /* Set height, width, borders, and global font properties here */
  font: 14px monospace;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}
z-codeeditor .CodeMirror-scroll {
  /* Set scrolling behaviour here */
  overflow: auto;
}

/* PADDING */

z-codeeditor .CodeMirror-lines {
  padding: 4px 4px; /* Vertical padding around content */
}
z-codeeditor .CodeMirror pre {
  padding: 2px 4px; /* Horizontal padding of content */
}

z-codeeditor .CodeMirror-scrollbar-filler, z-codeeditor .CodeMirror-gutter-filler {
  background-color: white; /* The little square between H and V scrollbars */
}



/* GUTTER */

z-codeeditor .CodeMirror-gutters {
  border-right: 1px solid #dbdedf;
  background-color: #edf0f2;
  white-space: nowrap;
}
z-codeeditor .CodeMirror-linenumbers {}
z-codeeditor .CodeMirror-linenumber {
  padding: 0 25px 0 6px;
  min-width: 20px;
  text-align: right;
  color: #a6a5ab;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

z-codeeditor .CodeMirror-guttermarker { color: black; }
z-codeeditor .CodeMirror-guttermarker-subtle { color: #999; }

/* CURSOR */

z-codeeditor .CodeMirror div.CodeMirror-cursor {
  border-left: 1px solid black;
}
/* Shown when moving in bi-directional text */
z-codeeditor .CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver;
}
z-codeeditor .CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
  width: auto;
  border: 0;
  background: #7e7;
}
z-codeeditor .cm-animate-fat-cursor {
  width: auto;
  border: 0;
  -webkit-animation: blink 1.06s steps(1) infinite;
  -moz-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite;
}
@-moz-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@-webkit-keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}
@keyframes blink {
  0% { background: #7e7; }
  50% { background: none; }
  100% { background: #7e7; }
}

/* Can style cursor different in overwrite (non-insert) mode */
z-codeeditor div.CodeMirror-overwrite div.CodeMirror-cursor {}

z-codeeditor .cm-tab { display: inline-block; }

z-codeeditor .CodeMirror-ruler {
  border-left: 1px solid #ccc;
  position: absolute;
}

/* DEFAULT THEME */

z-codeeditor .cm-s-default .cm-keyword {color: #708;}
z-codeeditor .cm-s-default .cm-atom {color: #219;}
z-codeeditor .cm-s-default .cm-number {color: #164;}
z-codeeditor .cm-s-default .cm-def {color: #00f;}
z-codeeditor .cm-s-default .cm-variable,
z-codeeditor .cm-s-default .cm-punctuation,
z-codeeditor .cm-s-default .cm-property,
z-codeeditor .cm-s-default .cm-operator {}
z-codeeditor .cm-s-default .cm-variable-2 {color: #05a;}
z-codeeditor .cm-s-default .cm-variable-3 {color: #085;}
z-codeeditor .cm-s-default .cm-comment {color: #a50;}
z-codeeditor .cm-s-default .cm-string {color: #a11;}
z-codeeditor .cm-s-default .cm-string-2 {color: #f50;}
z-codeeditor .cm-s-default .cm-meta {color: #555;}
z-codeeditor .cm-s-default .cm-qualifier {color: #555;}
z-codeeditor .cm-s-default .cm-builtin {color: #30a;}
z-codeeditor .cm-s-default .cm-bracket {color: #997;}
z-codeeditor .cm-s-default .cm-tag {color: #170;}
z-codeeditor .cm-s-default .cm-attribute {color: #00c;}
z-codeeditor .cm-s-default .cm-header {color: blue;}
z-codeeditor .cm-s-default .cm-quote {color: #090;}
z-codeeditor .cm-s-default .cm-hr {color: #999;}
z-codeeditor .cm-s-default .cm-link {color: #00c;}
z-codeeditor .cm-negative {color: #d44;}
z-codeeditor .cm-positive {color: #292;}
z-codeeditor .cm-header, .cm-strong {font-weight: bold;}
z-codeeditor .cm-em {font-style: italic;}
z-codeeditor .cm-link {text-decoration: underline;}
z-codeeditor .cm-s-default .cm-error {color: #f00;}
z-codeeditor .cm-invalidchar {color: #f00;}

/* Default styles for common addons */

z-codeeditor div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
z-codeeditor div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
z-codeeditor .CodeMirror-matchingtag { background: rgba(255, 150, 0, .3); }
z-codeeditor .CodeMirror-activeline-background {background: #e8f2ff;}

/* STOP */

/* The rest of this file contains styles related to the mechanics of
   the editor. You probably shouldn't touch them. */

z-codeeditor .CodeMirror {
  line-height: 1;
  position: relative;
  overflow: hidden;
  background: white;
  color: black;
}

z-codeeditor .CodeMirror-scroll {
  /* 30px is the magic margin used to hide the element's real scrollbars */
  /* See overflow: hidden in .CodeMirror */
  margin-bottom: -30px; margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none; /* Prevent dragging from highlighting the element */
  position: relative;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

z-codeeditor .CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* The fake, visible scrollbars. Used to force redraw during scrolling
   before actuall scrolling happens, thus preventing shaking and
   flickering artifacts. */
z-codeeditor .CodeMirror-vscrollbar, 
z-codeeditor .CodeMirror-hscrollbar, 
z-codeeditor .CodeMirror-scrollbar-filler, 
z-codeeditor .CodeMirror-gutter-filler {
  position: absolute;
  z-index: 6;
  display: none;
}
z-codeeditor .CodeMirror-vscrollbar {
  right: 0; top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
z-codeeditor .CodeMirror-hscrollbar {
  bottom: 0; left: 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
z-codeeditor .CodeMirror-scrollbar-filler {
  right: 0; bottom: 0;
}
z-codeeditor .CodeMirror-gutter-filler {
  left: 0; bottom: 0;
}

z-codeeditor .CodeMirror-gutters {
  position: absolute; left: 0; top: 0;
  padding-bottom: 30px;
  z-index: 3;
}
z-codeeditor .CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding-bottom: 30px;
  margin-bottom: -32px;
  display: inline-block;
  /* Hack to make IE7 behave */
  *zoom:1;
  *display:inline;
}
z-codeeditor .CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4;
}

z-codeeditor .CodeMirror-lines {
  padding: 10px 10px;
  cursor: text;
  min-height: 1px; /* prevents collapsing before first draw */
}
z-codeeditor .CodeMirror pre {
  /* Reset some styles that the rest of the page might have set */
  -moz-border-radius: 0; -webkit-border-radius: 0; border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
}
z-codeeditor .CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal;
}

z-codeeditor .CodeMirror-linebackground {
  position: absolute;
  left: 0; right: 0; top: 0; bottom: 0;
  z-index: 0;
}

z-codeeditor .CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  overflow: auto;
}

z-codeeditor .CodeMirror-widget {}

z-codeeditor .CodeMirror-wrap .CodeMirror-scroll {
  overflow-x: hidden;
}

z-codeeditor .CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
z-codeeditor .CodeMirror-measure pre { position: static; }

z-codeeditor .CodeMirror div.CodeMirror-cursor {
  position: absolute;
  border-right: none;
  width: 0;
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 1;
}
z-codeeditor .CodeMirror-focused div.CodeMirror-cursors {
  visibility: visible;
}

z-codeeditor .CodeMirror-selected { background: #d9d9d9; }
z-codeeditor .CodeMirror-focused .CodeMirror-selected { background: #d7d4f0; }
z-codeeditor .CodeMirror-crosshair { cursor: crosshair; }

z-codeeditor .cm-searching {
  background: #ffa;
  background: rgba(255, 255, 0, .4);
}

/* IE7 hack to prevent it from returning funny offsetTops on the spans */
z-codeeditor .CodeMirror span { *vertical-align: text-bottom; }

/* Used to force a border model for a node */
z-codeeditor .cm-force-border { padding-right: .1px; }

@media print {
  /* Hide the cursor when printing */
  z-codeeditor .CodeMirror div.CodeMirror-cursors {
    visibility: hidden;
  }
}

z-codeeditor code {
  display: block;
  padding: 20px;
  word-break: break-all;
}

z-codeeditor[data-readonly] .CodeMirror .CodeMirror-cursor {
  visibility: hidden;
}
