<template id="zbase_session_tracking_main_tpl">
  <div class="zbase_content_pane zbase_settings_session_tracking">
    <div class="zbase_settings_menu_sidebar">
    </div>
    <div class="zbase_settings_menu_content">
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/settings">Settings</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/settings">Integrations</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/settings/session_tracking">Session Tracking</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
      <h2 class="pagetitle">Integrations <i class="sep"></i> <em>Session Tracking</em></h2>
    </div>
  </div>
</template>
