.zbase_settings_session_tracking z-tabbable {
  font-size: 14px;
}

.zbase_settings_session_tracking .zbase_settings_title {
  font-weight: 500;
  font-size: 18px;
  color: #444;
  margin: 25px 0 5px 10px;
}

.zbase_settings_session_tracking table.events {
  margin-top: 22px;
  border-top: 1px solid #eee;
}

.zbase_settings_session_tracking table.z-table.events tbody tr:hover {
  cursor: pointer;
}

.zbase_settings_session_tracking table.z-table.events tbody tr td {
  vertical-align: top;
  padding-top: 16px;
}

.zbase_settings_session_tracking table.events .event_name a {
  background-color: #f0f6f8;
  border-bottom: 1px solid #c9d0d4;
  position: absolute;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  color: rgba(10,10,10,0.8);
  line-height: 18px;
}

.zbase_settings_session_tracking table.events .event_schema {
  padding: 2px 0 20px 0;
}

.zbase_settings_session_tracking table.events .event_schema pre {
  font-family: "Droid Sans Mono", "Courier", monospace;
  font-size: 12px;
  line-height: 120%;
  color: #000;
  opacity: 0.9;
}

.zbase_settings_session_tracking table.events td.icon {
  width: 64px;
  text-align: center;
}

.zbase_settings_session_tracking table.events td.icon i {
  font-size: 14px;
  color: #999;
  padding: 10px;
}

.zbase_settings_session_tracking table.events td.icon i:hover {
  cursor: pointer;
  color: #1c99d6;
}

.zbase_settings_session_tracking .add_session_event {
  border-bottom: 2px solid #ddd;
  border-top: 1px solid #d4d4d4;
  padding: 20px 20px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03)
}
