<template id="zbase_session_tracking_menu_tpl">
  <z-menu>
    <z-menu-section>
      <z-menu-title><a href="/a/session_tracking">Tracking</a></z-menu-title>
      <z-menu-item><a href="/a/session_tracking">Dashboard</a></z-menu-item>
      <z-menu-item><a href="/a/session_tracking/inspect">Inspect</a></z-menu-item>
    </z-menu-section>

    <z-menu-section>
      <z-menu-title><a href="/a/session_tracking/settings/events">Settings</a></z-menu-title>
      <z-menu-item><a href="/a/session_tracking/settings/events">Events</a></z-menu-item>
      <z-menu-item><a href="/a/session_tracking/settings/attributes">Attributes</a></z-menu-item>
      <z-menu-item><a href="/a/session_tracking/settings/pixel">Pixel</a></z-menu-item>
    </z-menu-section>
  </z-menu>
</template>
