<template id="zbase_settings_session_tracking_main_tpl">
  <section class='zbase_page_title small'>
    <div>
      <zbase-breadcrumbs>
        <zbase-breadcrumbs-section>
          <a href="/a/settings">Settings</a>
        </zbase-breadcrumbs-section>
        <zbase-breadcrumbs-section>
          <a href="/a/settings">API Access</a>
        </zbase-breadcrumbs-section>
      </zbase-breadcrumbs>
    </div>
  </section>

  <div class="zbase_content_pane zbase_settings_session_tracking">
    <div class="zbase_settings_menu_sidebar">
    </div>

    <div class="zbase_settings_menu_content">
      <h2 class="pagetitle">Session Tracking</h2>
      <z-tabbable class="open_tabs" data-content-attached>
        <z-tab data-index='0'>Events</z-tab>
        <z-tab data-index='1'>Attributes</z-tab>
      </z-tabbable>
    </div>
  </div>
</template>
