.zbase_logviewer.logfile_editor .editor_pane {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: 1px solid #ddd;
  margin: 30px 20px;
}

.zbase_logviewer .zbase_content.main_menu.logfile_editor zbase-breadcrumbs-section.logfile_name a {
  color: #3d8ad3;
}

.zbase_logviewer.logfile_editor .editor_pane .editor_pane_header {
  padding: 0 20px;
  height: 60px;
  overflow: visible;
}

.zbase_logviewer.logfile_editor .editor_pane .editor_pane_header h2 {
  font-size: 18px;
  float: left;
}

.zbase_logviewer.logfile_editor .editor_pane.regex .editor_pane_inner {
  padding: 0px 20px 20px 20px;
  overflow: auto;
}

.zbase_logviewer.logfile_editor .editor_pane textarea {
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  resize: vertical;
}

.zbase_logviewer.logfile_editor .editor_pane button.z-button {
  font-size: 13px;
  float: right;
}

.zbase_logviewer.logfile_editor button.z-button.loading {
  font-size: 18px;
}

.zbase_logviewer.logfile_editor button.z-button.hidden {
  display: none;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table {
  border-top: 1px solid #e6e8e9;
  border-bottom: 1px solid #e6e8e9;
  font-size: 13px;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table thead th {
 background: #f6f6f6;
 width: 27%;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table thead tr th:first-child {
  padding-left: 20px;
  width: 40%;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table thead tr th:last-child {
  width: 6%;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table tr td {
  color: #888;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table tr td.name {
  padding-left: 20px;
  color: #333;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table tr td.icon {
  text-align: center;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table tr td.icon i {
  color: #888;
  padding: 2px 10px;
}

.zbase_logviewer.logfile_editor .editor_pane table.z-table tr td.icon i:hover {
  color: #3d8ad3;
  cursor: pointer;
}

.zbase_logviewer.logfile_editor .editor_pane .add_field {
  text-align: center;
  font-size: 14px;
  padding: 20px;
}

.zbase_logviewer.logfile_editor .editor_pane .add_field a.link {
  text-decoration: underline;
}

.zbase_logviewer.logfile_editor z-modal .field {
  margin-top: 18px;
}

.zbase_logviewer.logfile_editor z-modal .field label {
  display: inline-block;
  vertical-align: top;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  width: 55px;
}

.zbase_logviewer.logfile_editor z-modal .field input.z-input {
  font-size: 13px;
  display: inline-block;
  width: auto;
}

.zbase_logviewer.logfile_editor z-modal .field .error_note {
  display: inline-block;
  font-size: 13px;
  line-height: 34px;
  color: #a94442;
}

.zbase_logviewer.logfile_editor z-modal .field .error_note.hidden {
  display: none;
}

.zbase_logviewer.logfile_editor z-modal button.z-button {
  font-size: 13px;
  float: right;
}

.zbase_logviewer.logfile_editor z-modal h4 {
  font-size: 14px;
  line-height: 34px;
  margin: 0;
  color: #333;
  font-weight: 500;
}
