<template id="zbase_logviewer_logfile_list_tpl">
  <div class="zbase_logviewer">
    <section class='zbase_page_title large'>
      <div>
        <zbase-breadcrumbs>
          <zbase-breadcrumbs-section>
            <a href="/a/">Applications</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section>
            <a href="/a/logviewer">Logviewer</a>
          </zbase-breadcrumbs-section>
        </zbase-breadcrumbs>
        <h1>Logfiles</h1>
      </div>
    </section>
    <div class="zbase_content_pane fullwidth">
      <div class="logfile_list">
        <table class="z-table zbase_clickable_table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Last opened by me</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
