.zbase_logviewer .logfile_editor .editor_pane {
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  border: 1px solid #ddd;
  margin: 20px;
}

.zbase_logviewer .logfile_editor .editor_pane .editor_pane_header {
  padding: 0 20px;
  height: 60px;
  overflow: visible;
}

.zbase_logviewer .logfile_editor .editor_pane .editor_pane_header h2 {
  font-size: 18px;
  float: left;
}

.zbase_logviewer .logfile_editor .editor_pane .editor_pane_header button.z-button {
  float: right;
  font-size: 13px;
  margin-top: 13px;
}


.zbase_logviewer .logfile_editor .editor_pane textarea {
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  padding-left: 20px;
  padding-right: 20px;
  border-left: none;
  border-right: none;
}
