<template id="zbase_logviewer_main_tpl">
  <div class="zbase_logviewer">
    <section class='zbase_page_title small'>
      <div>
        <zbase-breadcrumbs>
          <zbase-breadcrumbs-section>
            <a href="/a/">Applications</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section>
            <a href="/a/logviewer">Log Viewer</a>
          </zbase-breadcrumbs-section>
          <zbase-breadcrumbs-section>
            <a href="/a/logviewer" class="logfile_name_crumb">-</a>
          </zbase-breadcrumbs-section>
        </zbase-breadcrumbs>
      </div>
    </section>

    <div class="zbase_content_pane fullwidth">
      <div class="logviewer_pane hidden" name="logviewer_pane">
        <div class='control_pane'>

          <div class="control_pane_bar">
            <z-dropdown class='input logviewer_filter_control' name='logviewer-filter' style="position:absolute;">
              <z-dropdown-items>
                <z-dropdown-item data-value="sql" data-text="SQL"><i class="fa fa-filter" style="font-weight:normal; margin-right: 5px;"></i> SQL</z-dropdown-item>
                <z-dropdown-item data-value="regex" data-text="Regex">Regex</z-dropdown-item>
                <z-dropdown-item data-value="fulltext" data-text="Fulltext">Fulltext</z-dropdown-item>
              </z-dropdown-items>
            </z-dropdown>

            <z-search style="display: block; margin-left:80px" name='logviewer-filter'>
              <z-input class="icon" data-placeholder="Filter by SQL" style="position: relative; top: 1px; display: block;">
                <z-input-icon><i class='fa fa-search'></i></z-input-icon>
              </z-input>
            </z-search>

            <div class='error_note hidden' name='logviewer-filter'>
              Filter cannot be blank - Please add a filter
            </div>
          </div>

          <div class="control_pane_bar" style="height: 37px; margin-top: 8px;">
            <div class="z-pager right">
              <div class="z-pager-tooltip-back" data-disabled data-action="show-prev-loglines"></div>
              <div class="z-pager-tooltip-for" data-action="show-next-loglines"></div>
            </div>
            <div class="right">
              <div class="control_pane_item" id="update_endtime_control" style="display: none;">
                <label>Historical &mdash;</label>
                <a class="link">Show Latest</a>
              </div>

              <label>End Time</label>
              <input class="z-input clickable" id="logviewer_time_control" readonly />

              <div class="date_select_widget hidden" id="logviewer_date_widget">
                <div class="time_inputs">
                  <input data-factor="3600000" data-value="hours" class="left z-input" maxlength="2" placeholder="00"/>
                  <b class="left">:</b>
                  <input data-factor="60000" data-value="minutes" class="left z-input"  maxlength="2" placeholder="00"/>
                  <b class="left">:</b>
                  <input data-factor="1000" data-value="seconds" class="left z-input"  maxlength="2" placeholder="00"/>
                </div>

                <fn-calendar data-selectable="past"></fn-calendar>
                <z-button class='primary right' data-action="set-logviewer-date">Apply</z-button>
              </div>
            </div>

            <div class="control_pane_item">
              <label>Logfile:</label>
              <z-dropdown class='inline' name='logfile-select'>
                <z-dropdown-items>
                  <z-dropdown-item data-value="BLAH">
                    BLAH
                  </z-dropdown-item>
                </z-dropdown-items>
              </z-dropdown>
            </div>

            <div class="control_pane_item">
              <label>Columns</label>
              <z-dropdown class='inline checkbox button' data-open-onclick data-force-select data-action='logfile-columns-select'>
                <z-dropdown-items>
                  <div style="display: list-item; overflow: auto; border-bottom: 1px solid rgba(0, 0, 0, 0.05);">
                    <z-button class="primary right">Apply</z-button>
                  </div>
                  <z-dropdown-item data-value="__all__">
                    <fn-checkbox></fn-checkbox>
                    Full Row
                  </z-dropdown-item>
                </z-dropdown-items>
              </z-dropdown>
            </div>

            <div class="control_pane_item" style="display: none;" name="column_selection_check">
              <fn-checkbox></fn-checkbox>
              <label>Include Raw Log Line</label>
            </div>
          </div>
        </div>

        <div name="result_pane" class="result_pane">
          <div class="loading_bar infobar" name="loglines_loading_bar">
            <h3>
              <div class="loaderanim-outer">
                <div class="loaderanim">
                  <div class="rect1"></div>
                  <div class="rect2"></div>
                  <div class="rect3"></div>
                  <div class="rect4"></div>
                  <div class="rect5"></div>
                </div>
              </div>
              Scanning...
              <div class="loading_bar_info right" style="font-size: 12px;">
                <span style="font-weight:500;"><span name="num_rows"></span></span> rows scanned
                <span style="opacity: 0.7; color: #444; display:none;">&nbsp; (<span name="enddate"></span> &mdash; <span name="limitdate"></span>)</span>
              </div>
            </h3>
          </div>
          <div class="table_container">
            <table class='z-table logs' name="loglines">
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
