.zbase_logviewer {
  background: #fff;
  min-height: 900px;
}

.zbase_logviewer .logviewer_pane {
  padding-top: 20px;
}

.zbase_logviewer .logviewer_pane .result_pane {
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 2048px) {
  .zbase_logviewer .logviewer_pane .result_pane {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.zbase_logviewer .control_pane z-search {
  vertical-align: top;
}

.zbase_logviewer .control_pane .z-input,
.zbase_logviewer .control_pane z-input {
  font-size: 13px;
  vertical-align: top;
  width: auto;
  display: inline-block;
}

.zbase_logviewer .control_pane z-input  input {
  border: 1px solid #bdbdbd;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,.1);
}


.zbase_logviewer.loading .logviewer_pane table {
  opacity: 0.5;
}

.zbase_logviewer .logviewer_pane .control_pane .zbase_logviewer .control_pane_bar {
  padding: 4px 0;
}

.zbase_logviewer .logviewer_pane .control_pane z-dropdown.inline {
  margin-right: 10px;
}

.zbase_logviewer .logviewer_pane .control_pane z-dropdown.inline z-dropdown-header {
  font-size: 12px;
  color: #3d8ad3;
  font-weight: 500;
  line-height: 36px;
}

.zbase_logviewer .logviewer_pane .control_pane label {
  font-size: 12px;
  font-weight: 400;
  color: #999;
  line-height: 38px;
}

.zbase_logviewer .logviewer_pane .result_pane {
  border-top: 1px solid #d1d1d1;
  margin-top: 8px;
}

.zbase_logviewer .logviewer_pane .filter_control z-input input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.zbase_logviewer .logviewer_pane .filter_type_control {
  width: 60px;
}

.zbase_logviewer .logviewer_pane .filter_type_control z-dropdown-header {
  height: 35px;
  line-height: 34px;
}

.zbase_logviewer .logviewer_pane .time_control {
  margin-right: 20px;
  margin-left: 4px;
  border: none;
  font-size: 12px;
  color: #3d8ad3;
  font-weight: 500;
  line-height: 38px;
  padding: 0;
  width: 142px;
}

.zbase_logviewer .logviewer_pane .control_pane a.link {
  font-size: 12px;
  line-height: 38px;
  font-weight: 500;
}

.zbase_logviewer .logviewer_pane .loaderanim-outer {
  display: table-cell;
  vertical-align: middle;
  float: left;
  margin-left: -10px;
  margin-right: 10px;
}

.zbase_logviewer .logviewer_pane .loaderanim {
  width: 50px;
  height: 20px;
  display: block;
  text-align: center;
  font-size: 10px;
  overflow: hidden;
}

.zbase_logviewer .logviewer_pane .loaderanim > div {
  background-color: #3d8ad3;
  height: 100%;
  width: 4px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.zbase_logviewer .logviewer_pane .loaderanim .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.zbase_logviewer .logviewer_pane .loaderanim .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.zbase_logviewer .logviewer_pane .loaderanim .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.zbase_logviewer .logviewer_pane .loaderanim .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}


.zbase_logviewer .control_pane label {
  vertical-align: top;
  line-height: 35px;
  font-size: 14px;
  font-weight: 500;
}

.zbase_logviewer .control_pane .error_note {
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.zbase_logviewer .control_pane .error_note.hidden {
  display: none;
}

.zbase_logviewer .control_pane z-dropdown {
  margin-top: 1px;
}

.zbase_logviewer .control_pane .control_pane_item > z-checkbox {
  vertical-align: top;
  margin-top: 11px;
}

.zbase_logviewer .control_pane .control_pane_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.zbase_logviewer .right {
  float: right;
}

.zbase_logviewer .loading_bar {
  background-color: #f2f8fa;
  border-bottom: 1px solid #c9d0d4;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  color: rgba(10,10,10,0.65);
}

.zbase_logviewer .loading_bar.hidden {
  display: none;
}

.zbase_logviewer .loading_bar em {
  font-weight: 500;
  font-style: normal;
  color: rgba(10,10,10,0.7);
}

.zbase_logviewer .loading_bar h3 {
  margin: 0;
  color: #3d8ad3;
  line-height: 18px;
}

.zbase_logviewer .loading_bar_info {
  font-weight: 400;
  white-space: nowrap
}

@media (max-width: 2048px) {
  .zbase_logviewer .loading_bar {
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.zbase_logviewer .z-table.logs tr.folded td {
  font-size: 13px;
  border-top: none;
  padding: 5px 0 16px 32px;
}


.zbase_logviewer .z-table.logs tr td {
  word-wrap: break-word;
  border-top: 1px solid #e7e7e7;
  font-size: 13px;
  padding: 7px 9px 7px 9px;
  vertical-align: top;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.zbase_logviewer .z-table.logs tr td span {
  word-wrap: break-word;
  display: block;
  width: auto;
}

.zbase_logviewer .z-table.logs .z-table.log_fields tr td {
  border-top: none;
  padding: 0.5em;
}

.zbase_logviewer .z-table.logs {
  font-family: "Droid Sans Mono", "Courier", monospace;
  background: transparent;
  color: #000;
  width: auto;
  width: 100%;
}

.zbase_logviewer .z-table.logs tr td.time {
  min-width: 190px;
}

.zbase_logviewer .z-table.paginated tr {
  display: none;
}

.zbase_logviewer .z-table.paginated tr[data-active] {
  display: table-row;
}


.zbase_logviewer .z-table.logs tr.folding td.fold_icon {
  min-width: 24px;
  max-width: 24px;
  width: 24px;
}

.zbase_logviewer .z-table.logs tr.folding td.fold_icon i {
  margin-left: 5px;
  font-size: 16px;
  color: #999;
  position: relative;
  top: -2px;
}

.zbase_logviewer .z-table.logs tr.folding td.fold_icon i:hover {
  cursor: pointer;
  color: #3d8ad3;
}

.zbase_logviewer .z-table.logs tr.folding td.fold_icon i:before {
  font-family: FontAwesome;
  content: "\f0da";
}

.zbase_logviewer .z-table.logs tr.folding[data-active] td.fold_icon i:before {
  content: "\f0d7";
}

.zbase_logviewer .z-table.logs tr.folded td {
  border-top: none;
  padding-top: 0;
}

.zbase_logviewer .z-table.logs tr.folded {
  display: none;
}

.zbase_logviewer .z-table.logs tr.folding[data-active] + tr.folded{
  display: table-row;
}

.zbase_logviewer .z-pager {
  margin-top: 4px;
  font-size: 13px;
}

.zbase_logviewer .error_message {
  display: block;
  position: relative;
  min-height: 1em;
  padding: 1em 1.5em;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1em;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: #fff0f0;
  border: 1px solid #f1cdcd;
  color: #a94442;
}

@media (max-width: 2048px) {
  .zbase_logviewer .error_message {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.zbase_logviewer .error_message.hidden {
  display: none;
}

.zbase_logviewer .error_message h3 {
  margin-top: 0;
}

.zbase_logviewer .go_to_recent.hidden {
  display: none;
}

.zbase_logviewer .go_to_recent .box {
  background-color: #f2f8fa;
  border-radius: 3px;
  margin-top: 3px;
  height: 31px;
  padding: 0 10px;
  border: 1px solid #c9d0d4;
  margin-right: 10px;
}

.zbase_logviewer .go_to_recent .box label {
  color: #333;
}

.zbase_logviewer .go_to_recent .box > * {
  position: relative;
  top: -4px;
}


.zbase_logviewer .logfile_list table.z-table {
  font-size: 13px;
}

.zbase_logviewer .logfile_list table.z-table thead th {
  font-weight: 400;
  color: #888;
  padding: 10px 16px;
  background: #f9f9f9;
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #f9f9f9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#f9f9f9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #ffffff 0%,#f9f9f9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f9f9f9',GradientType=0 ); /* IE6-9 */
}

.zbase_logviewer .logfile_list table.z-table tbody tr td {
  padding: 0;
}

.zbase_logviewer .logfile_list table.z-table tbody tr a {
  color: #888;
  line-height: 24px;
  display: block;
  padding: .7em .8em;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td:first-child a {
  color: #3e8ad3;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td:first-child a:hover {
  text-decoration: underline;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td.icon {
  width: 60px;
  text-align:center;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td.icon z-dropdown {
  vertical-align: middle;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td.icon z-dropdown-header {
  color: #888;
  height: 15px;
  line-height: 15px;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td.icon z-dropdown:hover z-dropdown-header {
  color: #3d8ad3;
}

.zbase_logviewer .logfile_list table.z-table tbody tr td.icon z-dropdown-flyout {
  left: -68px;
  top: 90%;
}

.zbase_logviewer .logfile_list .add_pane {
  border: 1px solid #e1e1e1;
  padding: 15px;
  text-align: center;
  font-size: 14px;
  background: rgba(0, 0, 0, 0.03);
}

.zbase_logviewer .logfile_list .add_pane a.link {
  text-decoration: underline;
}

.zbase_logviewer .logfile_list z-modal.add_logfile .field {
  margin-top: 18px;
}

.zbase_logviewer .logfile_list z-modal.add_logfile .field:last-child {
  margin-bottom: 20px;
}

.zbase_logviewer .logfile_list z-modal.add_logfile .field label {
  display: inline-block;
  vertical-align: top;
  color: #333;
  font-size: 14px;
  font-weight: 500;
  line-height: 34px;
  width: 45px;
}

.zbase_logviewer .logfile_list z-modal.add_logfile .field input.z-input {
  font-size: 13px;
  display: inline-block;
  width: auto;
}

.zbase_logviewer .logfile_list z-modal.add_logfile button.z-button {
  float: right;
  font-size: 13px;
}

.zbase_logviewer .logfile_list z-modal.add_logfile .field .error_note {
  display: inline-block;
  font-size: 13px;
  line-height: 34px;
  color: #a94442;
}

.zbase_logviewer .logfile_list z-modal.add_logfile .field .error_note.hidden {
  display: none;
}
